{% if count > 0 %}
<div class="pagination justify-content-center">
    {% if page_number > 1 %}
        <a href="?query={{ query }}&page=1">&laquo; first</a>
        {% if page_number != 2 %}
        <a href="?query={{ query }}&page={{ page_prev }}">previous</a>
        {% endif %}
    {% endif %}

    <a class="active">
        Page {{ page_number }} of {{ page_last }}.
    </a>

    {% if page_number < page_last %}
        {% if page_next < page_last %}
        <a href="?query={{ query }}&page={{ page_next }}">next</a>
        {% endif %}
        <a href="?query={{ query }}&page={{ page_last }}">last &raquo;</a>
    {% endif %}
</div>
{% endif %}