<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Academic Interests</th>
    </tr>
    </thead>
    <tbody>
    {% for user in obj.itertuples %}
    <tr>
        <td><a href="{% url "user-detail" user.id|add:"0" %}">{{ user.username }}</a></td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.documents }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>