<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col" class="w-25">Institution Name</th>
        <th scope="col">Programs</th>
    </tr>
    </thead>
    <tbody>
    {% for inst in obj.itertuples %}
    <tr>
        <td>{{ inst.institution_name }}</td>
        <td><div id="initialprograms">{{ inst.programs|truncatewords:25 }}</div>
        <div class="collapse" id="allprograms{{ inst.id }}">{{ inst.programs }}</div>
        <a data-bs-toggle="collapse" href="#allprograms{{ inst.id }}">Show more...</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>