<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Program Name</th>
    </tr>
    </thead>
    <tbody>
    {% for program in obj.itertuples %}
    <tr>
        <td>{{ program.prog_name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
