{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">About SmartUni</h1>
    </div>

    <p>
        SmartUni is a website-based service for students that employs artificial intelligence to help in the management of time and tasks and in the location of suitable study partners.
    </p>

    <p>
        Information on the motivation, development, and use of the site is available on our separate documentation website, which you can access by clicking the button below.
    </p>

    <p>
        The code behind this site is hosted publicly on the Gesellschaft für Wissenschaftliche Datenverarbeitung's GitLab instance, and can be accessed by clicking the button below.
    </p>

    <p>
        Please note that SmartUni's code is licensed with an open access GPLv3 license, meaning that while you are free to use our code in other projects, credit MUST be given to the original developers and the resulting code MUST also be open access. Information regarding the license for SmartUni, and a copy thereof, may be found in our GitLab repository in the LICENSE and COPYING files respectively.
    </p>

    <div class="container p-5 border-bottom">
        <div class="row justify-content-evenly">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg" href='https://smartuni.pages.gwdg.de/documentation/'>SmartUni Documentation Site</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg" href='https://gitlab.gwdg.de/ai-higher-ed/smartuni'>SmartUni GitLab Repository</a>
            </div>
        </div>
    </div>
    <div class="row container">
        <h2>Information according to § 5 TMG:</h2>
        <p>
        University of Osnabrück <br>
        Neuer Graben 29 / Schloss <br>
        49074 Osnabrück <br>
        Phone +49 541 969-0 <br>
        Fax +49 541 969-4888 <br>
        </p>
        <p>
        The University of Osnabrück is a public corporation. It is legally represented by the President Prof. Dr. Susanne Menzel-Riedl. <br>
        Competent supervisory authority: Ministry of Science and Culture of Lower Saxony, Leibnizufer 9, 30169 Hannover, Germany <br>
        Sales tax identification number according to § 27a Sales Tax Act: DE 154 285 400 <br>
        Responsible for the content according to § 55 Abs. 2 RStV: Center for Information Management and Virtual Teaching (virtUOS)
        </p>
        <p>
        Dr. Tobias Thelen <br>
        Heger Tor Wall 12 <br>
        49074 Osnabrück <br>
            <a href="https://www.virtuos.uni-osnabrueck.de">https://www.virtuos.uni-osnabrueck.de</a>
        </p>
        <h3>Disclaimer</h3>
        <p>
        The responsible persons at the University of Osnabrück have compiled the information on the pages of their website with the greatest possible care. Nevertheless, the University of Osnabrück cannot guarantee the topicality, correctness, completeness or quality of the information and data provided.
        </p>
        <p>
        Therefore, liability claims against the University of Osnabrück, the persons responsible for this website or the authors of the respective articles for damages of a material or immaterial nature based on possibly incorrect or incomplete information and data are excluded, except in cases of intent or gross negligence.
        </p>
        <p>
        This also applies to information on Internet pages to which reference is made by means of a hyperlink. At the time of linking, the content was free of illegal content. The University of Osnabrück has no influence on the design of the linked websites. Furthermore, it is not reasonable to expect the University of Osnabrück to constantly monitor the content of linked pages without concrete evidence of a violation of the law. The content of these pages is therefore completely outside the responsibility of the University of Osnabrück. The University of Osnabrück does not adopt the content of the linked websites as its own. The University of Osnabrück, the persons responsible for this website or the authors are not liable for damages resulting from incorrect or incomplete content on the websites referred to via links.
        </p>
    </div>
    <div class="row container">
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p>
            Universität Osnabrück<br>
            Neuer Graben 29 / Schloss<br>
            49074 Osnabrück<br>
            Tel. +49 541 969-0<br>
            Fax +49 541 969-4888<br>
        </p>
        <p>
            Die Universität Osnabrück ist eine Körperschaft des öffentlichen Rechts. Sie wird durch die Präsidentin Prof. Dr. Susanne Menzel-Riedl gesetzlich vertreten.<br>
            Zuständige Aufsichtsbehörde: Niedersächsisches Ministerium für Wissenschaft und Kultur, Leibnizufer 9, 30169 Hannover<br>
            Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz: DE 154 285 400<br>
            Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Zentrum für Informationsmanagement und virtuelle Lehre (virtUOS)
        </p>
        <p>
            Dr. Tobias Thelen<br>
            Heger-Tor-Wall 12<br>
            49074 Osnabrück<br>
            <a href="https://www.virtuos.uni-osnabrueck.de">https://www.virtuos.uni-osnabrueck.de</a>
        </p>
        <h3>Haftungsausschluss</h3>
        <p>
            Die Verantwortlichen der Universität Osnabrück haben die Informationen auf den Seiten ihrer Internetpräsenz mit größtmöglicher Sorgfalt zusammengestellt. Dennoch kann die Universität Osnabrück keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen und Daten übernehmen.
        </p>
        <p>
            Daher sind Haftungsansprüche gegen die Universität Osnabrück, die Verantwortlichen dieser Internetseite oder die Autoren der jeweiligen Artikel für Schäden materieller oder immaterieller Art, die auf möglicherweise fehlerhaften oder unvollständigen Informationen und Daten beruhen, ausgeschlossen, soweit nicht Vorsatz oder grobe Fahrlässigkeit vorliegt.
        </p>
        <p>
            Dies gilt auch für Informationen auf Internetseiten, auf die mittels eines Hyperlinks verwiesen wird. Zum Zeitpunkt der Verlinkung war der Inhalt frei von illegalen Inhalten. Auf die Gestaltung der gelinkten Internetseiten kann die Universität Osnabrück keinerlei Einfluss nehmen. Eine ständige inhaltliche Kontrolle der verlinkten Seiten ist ohne das Vorliegen konkreter Anhaltspunkte einer Rechtsverletzung darüber hinaus nicht zumutbar. Der Inhalt dieser Seiten liegt daher vollständig außerhalb des Verantwortungsbereichs der Universität Osnabrück. Die Universität Osnabrück macht sich den Inhalt der verlinkten Internetseiten nicht zu eigen. Für Schäden, die aus fehlerhaften oder unvollständigen Inhalten auf den mittels Link verwiesenen Internetseiten resultieren, haftet die Universität Osnabrück, die Verantwortlichen dieser Internetseite bzw. die Autoren nicht.
        </p>
    </div>
{% endblock %}