{% load bootstrap5 %}
{% load static %}
{% load notifications_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The SmartUni">

    {#  page title: displayed in browser bar #}
    <title>{% block title %}SmartUni{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    {# Load jQuery for use in some classes #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'spc/dashboard.css' %}" rel="stylesheet">
    <script>
        function notifyUpdateExec(data){
            const node = document.getElementById("notificationWrapper");
            node.innerHTML = "";
                for (let i = 0; i < data.unread_list.length; i++) {
                    let notification = data.unread_list[i];
                    let child = document.createElement("a");
                    child.href = `/readnotification/${notification.id}/`;
                    if (notification.actor_object_id == 2) {
                        let span = document.createElement("span");
                        span.classList.add("badge", "badge-secondary", "bg-success");
                        span.innerHTML = "SPM";
                        child.appendChild(span);
                    } else if (notification.actor_object_id == 3) {
                        let span = document.createElement("span");
                        span.classList.add("badge", "badge-secondary", "notify_color_secondary");
                        span.innerHTML = "SBM";
                        child.appendChild(span);
                    } else {
                        let span = document.createElement("span");
                        span.classList.add("badge", "badge-secondary", "bg-primary");
                        span.innerHTML = "BASE";
                        child.appendChild(span);
                    }
                    child.innerHTML += notification.description;
                    node.appendChild(child);
                }
        }
    </script>

    {# notification hq live update script #}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge,notifyUpdateExec' %}

    <!-- For calendar view in SmartPlanner-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

    {% block extracss %}{% endblock %}

</head>
<body>

{#  the top row #}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">SmartUni</a>
    <!-- hamburger menu -->
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="w-100" method="post" action="{% url 'search_results' %}">
      {% csrf_token %}
      <div class="input-group">
        <input class="form-control form-control-dark mw-100" type="text" name="search_string" placeholder="Search" aria-label="Search">
          <button class="input-group-text border-0 nav-search"></button>
      </div>
    </form>
    {# dropdown start #}
    {% if request.user.is_authenticated %}
         <div onclick="dropdownFunction()" class="dropdownsu">
            <button class="dropbtn">
                <span data-feather="bell" style="width: 16px; height: 16px; stroke: white; pointer-events: none; position:relative;"></span>
                {% live_notify_badge badge_class="position-absolute top-10 start-75 translate-middle badge rounded-pill bg-danger" %} {# outside of the if? #}
            </button>
            <div id="notificationDropdown" class="dropdownsu-content">
                <div id="notificationWrapper">
                </div>
                <a href="{% url 'notification_history' %}">All Notifications</a>
            </div>
        </div>
    {# dropdown end #}
    <div>
        <button onclick="location.href='{% url 'settings' %}';" class="dropbtn">
            <span data-feather="settings" style="width: 16px; height: 16px; stroke: white; pointer-events: none; position:relative;"></span>
        </button>
    </div>
    {% endif %}
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            {% if request.user.is_authenticated %}
                <a class="nav-link px-3" href="{% url 'logout' %}">Logout ({{ request.user.username }})</a>
            {% else %}
                <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</header>

{# the main content #}
<div class="container-fluid">

  <div class="row">
    {# left side menu #}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if page == 'landing' %}active{% endif %}" aria-current="page"
               href="{% if request.user.is_authenticated %}{% url 'jumpstart' %}{% else %}{% url 'landing' %}{% endif %}">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          {% if request.user.is_authenticated %} {#  only show logout link is user is logged in #}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'planner-startpage' %}">
                  <span data-feather="calendar"></span>
                  SmartPlanner
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sbm_startpage' %}">
                  <span data-feather="user-plus"></span>
                  StudyBuddyMatch
                </a>
              </li>

          {% endif %}
        </ul>
        {% if request.user.is_staff %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Admin</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              <span data-feather="tool"></span>
              Admin
            </a>
          </li>
          <li>
              <a class="nav-link" href="{% url 'bugs' %}">
                  <span data-feather="alert-triangle"></span>
                  Bug Reports
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'feedback_list' %}">
                  <span data-feather="info"></span>
                  Feedback List
              </a>
          </li>
        </ul>
        {% endif %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>About</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link {% if page == 'about' %}active{% endif %}" href="{% url 'about' %}">
              <span data-feather="info"></span>
              About SmartUni
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link {% if page == 'data-privacy' %}active{% endif %}" href="{% url 'data-privacy' %}">
              <span data-feather="shield"></span>
              Data Privacy
            </a>
          </li>
        </ul>
      {% if request.user.is_authenticated %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Feedback and Bugs</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback' %}">
                            <span data-feather="thumbs-up"></span>
                            Feedback
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'report' %}">
                        <span data-feather="alert-octagon"></span>
                        Report a Bug
                      </a>
                    </li>
                </ul>
      {% endif %}
      </div>
    </nav>
    {% if "sbm" in request.path %}
    <main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">
    {% else %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {% endif %}
        {# the block 'content' will be filled by the individual page templates #}
        <div>
             {% block content %}No content{% endblock %}
        </div>
    </main>
  {% if "sbm" in request.path %}
    <aside class="col-md-2 col-lg-2" >
        {% block rightbar %} {% endblock %}
    </aside>
  {% endif %}
  </div>
</div>
    {% bootstrap_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="{% static 'spc/dashboard.js' %}"></script>
<script>

    function dropdownFunction() {
            document.getElementById("notificationDropdown").classList.toggle("notishow");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdownsu-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('notishow')) {
                        openDropdown.classList.remove('notishow');
                    }
                }
            }
        }

</script>
    {% block extrajs %}{% endblock %}
</body>
</html>
