{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="p-3">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="col-10">Bug #{{ object.id }}</h1>
            {% if object.state == 'o' %}
                <a href="{% url 'change-bug-state' object.id %}" class="btn btn-secondary">Mark as "In progress"</a>
            {% elif object.state == 'i' %}
                <a href="{% url 'change-bug-state' object.id %}" class="btn btn-secondary">Mark as "Closed"</a>
            {% endif %}
        </div>
        <div class="row border-bottom">
            <div class="col-sm-6">
                <p><strong>Module:</strong> {{ object.module_id.page_name }}</p>
                <p><strong>State:</strong>
                    {% if object.state == "o" %}
                        Open
                    {% elif object.state == "i" %}
                        In Progress
                    {% else %}
                        Closed
                    {% endif %}
                </p>
            </div>
            <div class="col-sm-6">
                <p><strong>Submitted by:</strong> {{ object.user_id.username }}</p>
                <p><strong>Submitted at:</strong> {{ object.created_at }}</p>
                {% if object.closed_at %}<p><strong>Closed at:</strong> {{ object.closed_at }}</p>{% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <p class="large-text"><strong>Description: </strong></p>
            <p>{{ object.description }}</p>
        </div>
        <div class="mt-3">
            <p><strong>Related Logfile:</strong></p>
            {% if logname %}
                <p>
                    {{ logname }}
                    <button type="button" class="btn btn-primary" id="download-log"
                            data-download-url="{% url 'download_log' logfile=logname %}"
                            value="{{ logname }}" name="logfile_name">
                        <i data-feather="download"></i>
                    </button>
                </p>
            {% else %}
                No related log files found.
            {% endif %}
            </div>
    </div>
<script src="{% static 'spc/logfile-download.js' %}"></script>
{% endblock %}