{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="p-3">
        <h1>Bug reports</h1>
        {% if bug_list %}
            <div class="table-responsive">
            <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">State</th>
                <th scope="col">Module</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bug_list %}
                <tr class="align-middle">
                    <th scope="row">{{ bug.id }}</th>
                    <td>
                        {% if bug.state == "o" %}
                            <span class="badge bg-danger">Open</span>
                        {% elif bug.state == "i" %}
                            <span class="badge bg-warning text-dark">In Progress</span>
                        {% else %}
                            <span class="badge bg-success">Solved</span>
                        {% endif %}
                    </td>
                    <td>{{ bug.module_id.page_name }}</td>
                    <td>{{ bug.description }}</td>
                    <td>
                            <a class="btn btn-primary mb3" href="{{ bug.get_absolute_url }}">Details</a>
                    </td>
                </a>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
        {% else %}
            <p>No bugs were reported yet.</p>
        {% endif %}
    </div>
    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>
{% endblock %}