{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="p-4">
        <h1>SmartUni Privacy Policy</h1>
        <p>SmartUni is a project from the University of Osnabrück. This privacy policy will explain how our application
            uses
            the personal data we collect from you when you use our website.</p>
        <h2>Topics:</h2>
        <ul>
            <li><a href="#data-types">What data do we collect?</a></li>
            <li><a href="#collection-types">How do we collect your data?</a></li>
            <li><a href="#data-usage">How do we use your data?</a></li>
            <li><a href="#data-storage">How do we store your data?</a></li>
            <li><a href="#marketing">Marketing</a></li>
            <li><a href="#rights">What are your data protection rights?</a></li>
            <li><a href="#cookies-definition">What are cookies?</a></li>
            <li><a href="#cookie-used">What types of cookies do we use?</a></li>
            <li><a href="#cookie-usage">How do we use cookies?</a></li>
            <li><a href="#cookie-management">How to manage your cookies</a></li>
            <li><a href="#server-log">Server log files</a></li>
            <li><a href="#other-privacy-policies">Privacy policies of other websites</a></li>
            <li><a href="#changes">Changes to our privacy policy</a></li>
            <li><a href="#contact-us">How to contact us</a></li>
            <li><a href="#contact-authorities">How to contact the appropriate authorities</a></li>
        </ul>
        <div id="data-types">
            <h2>What data do we collect?</h2>
            <p>SmartUni collects the following data:</p>
            <ul>
                <li>Personal identification information (name, email address, phone number, date of birth, time and date
                    of registration).
                </li>
                <li>Personal academic information (institutions enrolled in, programs enrolled in, mode of study,
                    academic interest and merits, preferences for study partners)
                </li>
                <li>Further personal information (fluency in languages, timezone of residency, communication preferences, freeform description of yourself)
                </li>
                <li>Timetable and tasks</li>
                <li>A profile picture</li>
                <li>Search history in the SmartUni application</li>
            </ul>
        </div>
        <div id="collection-types">
            <h2>How do we collect your data?</h2>
            <p>You directly provide SmartUni with most of the data we collect. We collect data and process data when
                you:</p>
            <ul>
                <li>Register online</li>
                <li>Complete the SBM survey to be able to get matched with a study partner</li>
                <li>Enter appointments or tasks in the Planner application</li>
                <li>Voluntarily fill out the profile page</li>
                <li>Use the search functionality provided on the site.</li>
                <li>Use or view our website with cookies enabled in your browser.</li>
            </ul>
        </div>
        <div id="data-usage">
            <h2>How do we use your data?</h2>
            <p>SmartUni collects your data so that we can:</p>
            <ul>
                <li>Match you with a study partner when requested</li>
                <li>Match you as a study partner for another user, when you provide your consent for us to do so</li>
                <li>Automatically distribute your tasks in your calendar</li>
            </ul>
            <p>SmartUni will not share your information with third parties.</p>
        </div>
        <div id="data-storage">
            <h2>How do we store your data?</h2>
            <p>SmartUni securely stores your data at the Rechenzentrum of the University of Osnabrück.</p>
        </div>
        <div id="marketing">
            <h2>Marketing</h2>
            <p>We will not use your data for marketing purposes. All data you provide while using SmartUni remains inside the application itself and is not shared externally.</p>
        </div>
        <div id="rights">
            <h2>What are your data protection rights?</h2>
            <p>SmartUni would like to make sure you are fully aware of all of your data protection rights. Every user is
                entitled to the following:</p>
            <ul>
                <li><strong>The right to access</strong>: You have the right to ask SmartUni for copies of your
                    personal data. We may charge you a small fee for this service.
                </li>
                <li><strong>The right to rectification</strong>: You have the right to request that SmartUni correct any
                    information you believe is inaccurate. You also have the right to ask SmartUni to complete any
                    information you believe is incomplete.
                </li>
                <li><strong>The right to erasure</strong>: You have the right to request that SmartUni erase your
                    personal data, under certain conditions.
                </li>
                <li><strong>The right to restrict processing</strong>: You have the right to request that SmartUni
                    restrict the processing of your personal data, under certain conditions.
                </li>
                <li><strong>The right to object to processing</strong>: You have the right to object to SmartUni’s
                    processing of your personal data, under certain conditions.
                </li>
                <li><strong>The right to data portability</strong>: You have the right to request that SmartUni transfer
                    the data that we have collected to another organization, or directly to you, under certain
                    conditions.
                </li>
            </ul>
            <p>
                If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please contact us at our email: <a
                    href=" mailto:smartuni@uos.de?subject=Data%20privacy%20request">smartuni@uos.de</a>
                <br>
                <br>
                You can find other ways to contact us in the <a href="{% url 'about' %}">Impressum</a> on the About
                Smartuni page.
            </p>
        </div>
        <div id="cookies-definition">
            <h2>Cookies</h2>
            <p>
                Cookies are text files placed on your computer to collect standard Internet log information and visitor
                behavior information. When you visit our websites, we may collect information from you automatically
                through cookies or similar technology.
                <br>
                For further information, visit <a href="https://allaboutcookies.org">allaboutcookies.org</a>.
            </p>
        </div>
        <div id="cookie-usage">
            <h2>How do we use cookies?</h2>
            <p>
                SmartUni uses cookies in a range of ways to improve your experience on our website, including:
            </p>
            <p>
                Keeping you signed in
            </p>
        </div>
        <div id="cookie-used">
            <h2>What types of cookies do we use?</h2>
            <p>There are a number of different types of cookies. Our website uses:
            </p>
            <p>
                Functionality Cookies – SmartUni uses these cookies so that we recognize you on our website and remember your
                previously selected preferences. These could include what language you prefer and what location you are
                in.</p>
            </p>
        </div>
        <div id="cookie-management">
            <h2>How to manage cookies</h2>
            <p>
                You can set your browser not to accept cookies and the above website tells you how to remove cookies
                from your browser. However, in a few cases, some of our website features may not function as a result.
            </p>
        </div>
        <div id="server-log">
            <h2>Server log files</h2>
            <p>
                The provider of the pages automatically collects and stores information in so-called server log files,
                which your browser automatically transmits to us. These are:
            </p>
            <ul>
                <li>Browser type and browser version</li>
                <li>Operating system used</li>
                <li>Referrer URL</li>
                <li>Host name of the accessing computer</li>
                <li>Time of the server request</li>
                <li>IP address</li>
            </ul>
            <p>
                This data is not merged with other data sources.
            </p>
        </div>
        <div id="other-privacy-policies">
            <h2>Privacy policies of other websites</h2>
            <p>
                The SmartUni website contains links to other websites. Our privacy policy applies only to our website,
                so if you click on a link to another website, you should read their privacy policy to understand the terms that apply to that site.
            </p>
        </div>
        <div id="changes">
            <h2>Changes to our privacy policy</h2>
            <p>SmartUni keeps its privacy policy under regular review and places any updates on this web page. This
                privacy policy was last updated on 11th October 2022.</p>
        </div>
        <div id="contact-us">
            <h2>How to contact us</h2>
            <p>
                If you have any questions about SmartUni’s privacy policy, the data we hold about you, or you would like to
                exercise one of your data rights, please do not hesitate to contact us.
                <br>
                Find our contact details in the <a href="{% url 'about' %}">About SmartUni page</a>, or listed above on this page.
            </p>
        </div>
        <div id="contact-authorities">
            <h2>How to contact the appropriate authorities</h2>
            <p>
                You have the right to complain to a data protection authority about our processing of your personal
                data.
                You may additionally address complaints to the State Commissioner for Data Protection of Lower Saxony,
                Prinzenstraße 5, 30159 Hannover, Germany, Tel. 0511/120-4500, poststelle@lfd.niedersachsen.de.
            </p>
        </div>
    </div>
{% endblock %}
