<!DOCTYPE html>
{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feeedback Detail</title>
    </head>
    <body>

    <h1 style="padding: 24px">Feedback #{{feedback_id}}</h1>

    <hr>

    <div class="row" style="padding-top: 24px">
        <div class="form-group col-4" style="display: block; padding-left: 10%;">
            <div class="medium-text"><b>Module:</b> {{ module }}</div>
        </div>
        <div class="form-group col-4" style="display: block; padding-left: 10%;">
            <div class="medium-text"><b>Submitted by:</b> {{ user_name }}</div>
        </div>
         <div class="form-group col-4" style="display: block; padding-left: 10%;">
            <div class="medium-text"><b>Rating:</b> {{ rating }}</div>
        </div>
    </div>
    <div class="row" style="padding-top: 48px">
        <div class="form-group col-4" style="display: block; padding-left: 10%;">
            <div class="medium-text"><b>State:</b> {{ status }}</div>
        </div>
        <div class="form-group col-4" style="display: flex; padding-left: 10%;">
            <div class="medium-text"><b>Submitted at:</b> {{ date }}</div>
        </div>
    </div>
    <hr style="margin-top: 48px">

    <div class="row" style="padding-top: 2%; padding-bottom: 2%">
        <div class="form-group col-2" style="display: block; padding-left: 10%; padding-bottom: 1%;">
            <div class="medium-text"><b>Description:</b></div>
        </div>
        <div class="form-group medium-text" style="display: block; padding-left: 10%; padding-right: 10%">
            <div class="medium-text">{{ description }}</div>
        </div>
    </div>

    <hr>

    <div class="form-group col-2" style="display: block; padding-left: 10%; padding-bottom: 1%; padding-top: 2%">
        <div class="medium-text"><b>Logs:</b></div>
    </div>

    </body>
    </html>
{% endblock %}