<!DOCTYPE html>
{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feedback list</title>
    </head>
    <body>
        <h2>Feedback List</h2>
        <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Service</th>
                 <th scope="col">Status</th>
                 <th scope="col">User</th>
                 <th scope="col">Date</th>
                <th scope="col">Description</th>
                 <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for feedback in feedbacks %}
                        <tr class="align-middle">
                        <th scope="row">{{ feedback.id }}</th>
                        <td>{{ feedback.module }}</td>
                        <td>{{ feedback.status }} </td>
                        <td>{{ feedback.user }}</td>
                        <td>{{ feedback.subtime }}</td>
                        <td>{{ feedback.feedback }}</td>
                        <td>
                            <a class="btn btn-primary mb3" href="{% url 'feedback_detailed' feedback.id %}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    </html>

{% endblock %}