<!DOCTYPE html>
{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'spc/dashboard.css' %}">

{% block content %}
{% bootstrap_messages %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Report Feedback</title>
        <br>
        <h5 class="form-label">We value your feedback, {{ request.user }}!</h5>
    </head>

    <body>
    {{ form.path }}
    <form method="post">
        {% csrf_token %}
        <br><br>
        <div class="form-label">Which page would you like to provide feedback on?</div>
        <select class="form-select" id="module" name="module" style="position: relative; width: 30%; height: 5%;">
            {% for module in modules %}
            <option value="{{ module.id }}" {% if module.url_pattern == origin %} selected {% endif %}> {{ module.page_name }}</option>
            {% endfor %}
        </select>


        <select class="form-select" id="user" name="user" style="display: none">
            <option> {{ request.user.id }}</option>
        </select>


        <br><br>
        <div class="form-label">How satisfied are you with the selected page? (Optional)</div>
        <div>
            <input type="radio" class="form-check-input" id="rate5" name="rating" value="5" />
            <label for="star5" title="text">Extremely!</label>
            <input type="radio" class="form-check-input" id="rate4" name="rating" value="4" />
            <label for="star4" title="text">A Lot</label>
            <input type="radio" class="form-check-input" id="rate3" name="rating" value="3" />
            <label for="star3" title="text">I'm Neutral</label>
            <input type="radio" class="form-check-input" id="rate2" name="rating" value="2" />
            <label for="star2" title="text">Bit of a Let Down</label>
            <input type="radio" class="form-check-input" id="rate1" name="rating" value="1" />
            <label for="star1" title="text">Not at All</label>
        </div>

        <br><br>
        <div class="form-label">Please describe your experience with this service in detail in the space below:</div>
        <textarea id="feedback" name="feedback" class="form-control" style="width:90%; text-align:left" cols="70" rows="10">
        </textarea>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    </body>




    </html>
{% endblock %}
