{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class = "p-3 text-center">

    <div class="p-5">
        <h1 class="text-center">Welcome, {{ name }}!</h1>
    </div>

    <div class="container p-5">
        <div class="row justify-content-evenly">
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;" >
                  <img src="{% static 'spc/undraw_Online_organizer_re_156n.png' %}" class="card-img-top" alt="..." height="258px">
                  <div class="card-body">
                      <h5 class="card-title">Smart Planner</h5>
                      <a class="btn btn-primary btn-lg" href="{% url 'planner-startpage' %}">Go to SmartPlanner!</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                    <img src="{% static 'spc/undraw_Group_hangout_re_4t8r.png' %}" class="card-img-top" alt="..." height="258px">
                  <div class="card-body">
                      <h5 class="card-title">StudyBuddyMatch</h5>
                      <a class="btn btn-primary btn-lg" href="{% url 'sbm_startpage' %}">Go to StudyBuddyMatch!</a>

                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
