{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class = "p-3 text-center">

    <div class="p-5">
        <h1 class="text-center"><span class="linebreak">Make Your Daily University Life</span>
            Smarter with SmartUni!</h1>
    </div>
    <p class="large-text"> SmartUni is an AI driven tool which helps you intelligently schedule your university work,
        and to connect with the best people to achieve your goals.</p>
    <a class="btn btn-primary" href="{% url 'register' %}">Sign up here</a>
    <div class="container p-5">
        <div class="row justify-content-evenly">
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;" >
                  <img src="{% static 'spc/undraw_Online_organizer_re_156n.png' %}" class="card-img-top" alt="..." height="258px">
                  <div class="card-body">
                      <h5 class="card-title">Smart Planner</h5>
                    <p class="card-text">Smart Planner helps you manage your time more effectively and check off everything on your To-Do List in the
                    most efficient way.</p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                    <img src="{% static 'spc/undraw_Group_hangout_re_4t8r.png' %}" class="card-img-top" alt="..." height="258px">
                  <div class="card-body">
                      <h5 class="card-title">StudyBuddyMatch+</h5>
                    <p class="card-text">StudyBuddyMatch+ helps you match with people who can best help you meet your goals.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>






    </div>













{% endblock %}
