<!DOCTYPE html>
{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notification History</title>
    </head>
    <body>

        <h1>Notification History</h1>
        <div class="row" style="padding-top: 24px"></div>


        <div class="table-responsive">
            <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Module</th>
                <th scope="col">Description</th>
                <th scope="col">Time Recieved</th>
                <th scope="col">Level</th>
                <th scope="col">Read?</th>
                <th scope="col">Emailed?</th>
                <th scope="col">Page Link</th>
            </tr>
            </thead>
            <tbody>

            {% for notification in notifications %}
                <tr class="align-middle">
                    <th scope="row">{{notification.id}}</th>
                    <td>
                        {% if notification.actor_object_id == 2 %}
                            <span class="badge badge-secondary bg-success">SPM</span>
                        {% elif notification.actor_object_id == 3 %}
                            <span class="badge badge-secondary notify_color_secondary">SBM</span>
                        {% else %}
                            <span class="badge badge-secondary bg-primary">BASE</span>
                        {% endif %}
                    </td>
                    <td>{{ notification.description }}</td>
                    <td>{{ notification.notiftime }}</td>
                    <td>{{ notification.level}}</td>
                    <td>
                        {% if notification.unread == 1 %}
                            <span class="badge bg-danger">No</span>
                        {% elif notification.unread == 0 %}
                            <span class="badge bg-success">Yes</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">{{ notification.unread }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if notification.emailed == 1 %}
                            <span class="badge bg-success">Yes</span>
                        {% elif notification.emailed == 0 %}
                            <span class="badge bg-danger">No</span>
                        {% else %}
                            <span class="badge bg-warning text-dark">{{ notification.emailed }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary mb3" href="{{ notification.data.url }}">Go to Page!</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>


    </body>
    </html>
{% endblock %}