{% extends 'spc/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}

{% block content %}
    <h2>Report a Bug</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_messages %}
        <div class="col-sm-6 col-sm-offset-3 pt-2">
            <div class="row">
                <div>
                    {{ form.module_id|as_crispy_field }}

                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <button type="submit" class="form-group col-4 btn btn-primary mt-4" style="float: left; display: block; margin-left: auto; margin-right: 24px;">Submit Bug Report</button>
            </div>
        </div>
    </form>
{% endblock %}