{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>{{ title }} for "{{ query }}"</h4>
    </div>
    {% bootstrap_messages %}

    <div class="ms-sm-auto">

    {% if usercount > 0 %}
        <p>{{ usercount }} {{ user_string }} found.</p>

        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Academic Interests</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users.itertuples %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.documents }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url "search_users" %}?query={{ query }}&page=1">
            <button class="btn btn-primary">Search all users</button>
        </a></p>

    {% endif %}

    {% if instcount > 0 %}
        <p>{{ instcount }} {{ inst_string }} found.</p>

        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">Institute Name</th>
                <th scope="col">Programs</th>
            </tr>
            </thead>
            <tbody>
            {% for inst in institutions.itertuples %}
            <tr>
                <td>{{ inst.institution_name }}</td>
                <td>
                    {{ inst.programs|truncatewords:25 }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url "search_institutions" %}?query={{ query }}&page=1">
            <button class="btn btn-primary">Search all institutions</button>
        </a></p>

    {% endif %}

    {% if programcount > 0 %}
        <p>{{ programcount }} {{ prog_string }} found.</p>

        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">Program Name</th>
            </tr>
            </thead>
            <tbody>
            {% for prog in programs.itertuples %}
            <tr>
                <td>{{ prog.prog_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url "search_programs" %}?query={{ query }}&page=1">
            <button class="btn btn-primary">Search all programs</button>
        </a></p>

    {% endif %}

    {% if usercount == 0 and instcount == 0 and programcount == 0 %}
        <h5>No results found.</h5>
    {% endif %}
    </div>

{% endblock %}