<!-- templates/customized_crispy_signup.html -->
{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {# display messages #}
    {% bootstrap_messages %}
    <form method="post" novalidate enctype="multipart/form-data" id="general-settings-form" data-program-url="{% url 'load-programs' %}">
        {% csrf_token %}
        <div style="display: block; margin-left: 5%; margin-right: 5%; margin-top: 5%; border-radius: 15px; padding: 24px; background-color: #ffffff">
            <img src="{{ request.user.pic.url }}" alt="Avatar" width="200px" height="200px" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 24px; border-radius: 50%">
            <div class=”input-group” style="margin-right: 17%; margin-left: 17%; display: block";>
                <div class="input-group custom-file-button">
                    <label for="id_pic" class="input-group-text">Select profile picture</label>
                    <input type="file" name="pic" class="form-control" accept="image/*" id="id_pic">
                </div>
            </div>
        </div>

        <div class="accordion settings">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Profile Information
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="row">
                           <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6"style="display: block; margin-right: auto;">
                                    {{ form.dob|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.institution_1|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                    {{ form.program_1|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.institution_2|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                    {{ form.program_2|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.on_site|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-left: auto;">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin: auto;">
                                    {{ form.messenger|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12" style="display: block; margin: auto;">
                                    {{ form.bio|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin: auto;">
                                    {{ form.language|as_crispy_field }}
                                </div>
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6" style="display: block; margin-right: auto;">
                                    {{ form.timezone|as_crispy_field }}
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
            </div>
    </form>
            <div class="accordion-item">
            <form method="post" novalidate id="notif-settings-form">
            {% csrf_token %}
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Notification Settings
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        {% for category, setting in settings.items %}
                            <h6>
                                {% if category == 'SPC' %}General{% endif %}
                                {% if category == 'SPM' %}Study Planner{% endif %}
                                {% if category == 'SBM' %}Study Buddy Match{% endif %}
                            </h6>
                            <div class="table-responsive">
                            <table class="table table-striped table-hover">
                            <tbody>
                            {% for name, description in setting.items %}
                                {% for key, value in notif_initial.items %}
                                    {% if key == name %}
                                    <tr><td class="align-middle">{{ description }}</td>
                                    <td><div class="btn-group" role="group">
                                      <input type="radio" name="{{ name }}" class="btn-check notif-setting-button"
                                             value="0" id="radioBtn{{ forloop.counter }}-1" {% if key == name and value == '0' %}checked{% endif %}>
                                      <label class="btn btn-primary" for="radioBtn{{ forloop.counter }}-1">None</label>

                                      <input type="radio" name="{{ name }}" class="btn-check notif-setting-button"
                                             value="1" id="radioBtn{{ forloop.counter }}-2" {% if key == name and value == '1' %}checked{% endif %}>
                                      <label class="btn btn-primary" for="radioBtn{{ forloop.counter }}-2">In-App</label>

                                      <input type="radio" name="{{ name }}" class="btn-check notif-setting-button"
                                             value="2" id="radioBtn{{ forloop.counter }}-3" {% if key == name and value == '2' %}checked{% endif %}>
                                      <label class="btn btn-primary" for="radioBtn{{ forloop.counter }}-3">E-Mail</label>

                                      <input type="radio" name="{{ name }}" class="btn-check notif-setting-button"
                                             value="3" id="radioBtn{{ forloop.counter }}-4" {% if key == name and value == '3' %}checked{% endif %}>
                                      <label class="btn btn-primary" for="radioBtn{{ forloop.counter }}-4">Both</label>
                                    </div></td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                            </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div style="display: block; margin: 1% 5%; border-radius: 15px; padding: 24px; background-color: #ffffff">
            <div class="row">
                <button type="submit" id="save-settings" class="form-group col-4 btn btn-primary mt-4"
                        style="display: block; margin-left: auto; margin-right: 24px;">Save All</button>
                <a href="{% url 'password_change' %}" class="form-group col-4 btn btn-primary mt-4"
                   style="display: block; margin-right: auto;">Change Password</a>
            </div>
        </div>

        <script>
            $(document).ready(() => {
                $('.select2').select2().wrap('<div></div>');
                $('.select2-container').width("100%");
                $('#save-settings').click(function(event) {
                    $.ajax({
                        method: "POST",
                        url: "/user/save_notif_settings",
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': $("#notif-settings-form > input[name=csrfmiddlewaretoken]").val()
                        },
                        data: $('#notif-settings-form').serialize(),
                        success: function(data) {
                            $('#general-settings-form').submit()
                        }
                    })
                });
            })
    </script>
    <script src="{% static 'spc/filter-programs.js' %}" ></script>

{% endblock %}