{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>{{ title }} for "{{ query }}"</h4>
    </div>

    {# display messages #}
    {% bootstrap_messages %}

    {% include "spc/_pagination.html" with count=obj_count page_number=page_number query=query page_last=page_last page_next=page_next %}

    {% if obj.empty or not obj %}
    <h5>No {{ obj_type }} found.</h5>
    {% else %}

        {% if obj_type == 'users' %}
            {% include "spc/_search_users.html" with obj=obj %}
        {% elif obj_type == 'programs' %}
            {% include "spc/_search_programs.html" with obj=obj %}
        {% elif obj_type == 'institutions' %}
            {% include "spc/_search_institutions.html" with obj=obj %}
        {% endif %}

    {% endif %}

    {% include "spc/_pagination.html" with count=obj_count page_number=page_number query=query page_last=page_last page_next=page_next %}

{% endblock %}