{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <div class="p-2 row sm">
    <div class="col-sm-3">
        <img src="{{ user_object.pic.url }}" style="border-radius: 50%;" width="80%">
        <div class="mt-2">
            <p class="large-text"><strong>Contact Info</strong></p>
            <p><strong>E-Mail:</strong> {{ user_object.email }}</p>
            <p><strong>Phone:</strong> {% if not user_object.phone %}No phone number{% else %}{{ user_object.phone }}{% endif %}</p>
        <div>
            {% for messenger in messengers %}
                <img
                        src="{{ messenger.icon.url }}"
                        alt="{{ messenger.name }}"
                        height="25"
                        width="25"
                        class="{% if not messenger in user_object.messenger.all %}greyout{% endif %}"
                />
            {% endfor %}
        </div>

        <div class="pt-2">
            <p><strong>I speak:</strong></p>
            {% if user_object.language.all %}
                <ul>
                {% for language in user_object.language.all %}
                    <li>{{ language.name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No language</p>
            {% endif %}
        </div>
        </div>
    </div>
    <div class="col-sm-9">
        <h1>Hi, I'm {{ user_object.get_full_name }}</h1>
        <h3>
        {% if user_object.on_site != None %}
            I am {% if user_object.on_site %}an on-site {% else %}a remote {% endif %}student.
        {% endif %}
        {% if user_object.programs.all %}
            I study {{ user_object.programs.all|join:", " }} at {{ user_object.institutions.all|join:", " }}
        {% endif %}
        </h3>
        <p class="mt-3">{% if not user_object.bio %}Unfortunately, this user hasn't gotten around to writing a bio yet.
        {% else %}{{ user_object.bio }}{% endif %}</p>
    <div>
        {% if courses.exists %}
            <div class="table-responsive pt-3">
            <table class="table table-striped">
            <thead class="table-primary">
            <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Course Type</th>
                <th scope="col">Course Title</th>
                <th scope="col">Institute</th>
            </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                    <td>{{ course.course.course_number }}</td>
                    <td>{{ course.course.course_type }}</td>
                    <td>{{ course.course.title }}</td>
                    <td>{{ course.course.institute.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

        <p class="small">The courses are ordered by grade (the best courses are shown on top)</p>
            </div>

        {% else %}
            <p>This user didn't have a chance yet to input some courses</p>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}