{% block subject %}Subject line{% endblock %}

{% block plain %}
    Text version of the email
{% endblock %}
{% block html %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="background:#d3d1d0; font-size:0.875rem; font-family:'Roboto', Verdana, sans-serif;">
<div style="background:#334b7b; color:#fff; max-width:800px; margin:15px auto; padding:20px 0;">
    <h1 style="font-size:355%; line-height:61px; text-align:center; padding-bottom:10px;">Smartuni</h1>
    <div style="background-color:#f2f2f2; color:#000; padding:30px 40px;">
        <!--- Insert content here -->
    </div>
    <div style="padding-top: 20px;">
        <p style="text-align: center;">Don’t want to get this email? Adjust your notification settings here.</p>
    </div>
</div>
</body>
</html>
{% endblock %}