{% block subject %}Password reminder with title {{ data.title }}{% endblock %}

{% block plain %}
    Hey {{ user.first_name }}!
    Someone just changed your password. If that was you, then you can relax. Otherwise please request a new password via login page.
    Cheers,
    Smartuni
{% endblock %}

{% block html %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="background:#d3d1d0; font-size:0.875rem; font-family:'Roboto', Verdana, sans-serif;">
    <div style="background:#334b7b; color:#fff; max-width:800px; margin:15px auto; padding:20px 0;">
        <h1 style="font-size:355%; line-height:61px; text-align:center; padding-bottom:10px;">Smartuni</h1>
        <div style="background-color:#f2f2f2; color:#000; padding:30px 40px;">
            <p style="font-size: 120%; line-height: 25px;">
                <bold>Hey {{ user.first_name }},</bold>
            </p>
            <p style="font-size: 120%; line-height: 25px;">Someone just changed your password. If that was you, then you can relax.
                Otherwise please request a new password via login page.
            </p>
            <p style="font-size: 120%; line-height: 25px; padding-top:20px;">Cheers, <br> Smartuni</p>
        </div>
        <div style="padding-top: 20px;">
            <p style="text-align: center;">Don’t want to get this email? Adjust your notification settings here.</p>
        </div>
    </div>
    </body>
    </html>
{% endblock %}