{% extends 'spm/planner_startpage.html' %}

{% load static %}
{% load icon %}

{% block overview %}
<!-- insert daily overview template here -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">


    <div id="calendar-overview" class="fc-daily-calendar">
        <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr"></div>
        <div aria-labelledby="fc-dom-1" class="fc-view-harness fc-view-harness-active daily_appointments-container"
             style="width: 60%;"></div>
        <div class="slider" id="id_slider"></div>
        <div class="events-daily-wrapper" id="id_events-daily-wrapper" style="width: calc(40% - 10px);">
            <div id="id_events-daily" class="events-daily daily-appointments-container"></div>
        </div>
    </div>

    <script>
        let THRESH = 200;
        function background2TextColor(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            var r = parseInt(result[1], 16);
            var g = parseInt(result[2], 16);
            var b = parseInt(result[3], 16);

            if (Math.round(0.21 * r + 0.72 * g + 0.07 * b) > THRESH) {
                return '#000000';
            } else {
                return '#ffffff';
            }
        }

        /* to access the context data in javascript file */
        let date2Initialize = '{{ date }}'

        /* Create a list of all events that should be displayed */
        let eventlist = [];
        let tasklist = [];

        {% if event_list %}
            {% for i in event_list %}
                var backgroundColor = "{{ i.category.color }}";
                var textCol = '#ffffff';
                if (backgroundColor) {
                    textCol = background2TextColor(backgroundColor);
                }

                eventlist.push({
                    id: "{{ i.id }}",
                    title: "{{ i.title }}",
                    start: '{{ i.startdate|date:"Y-m-d" }}' + 'T' + '{{ i.starttime|time:"H:i:i" }}',
                    end: '{{ i.enddate|date:"Y-m-d" }}' + 'T' + '{{ i.endtime|time:"H:i:i" }}',
                    editable: false,
                    backgroundColor: "{{ i.category.color }}",
                    borderColor: "{{ i.category.color }}",
                    textColor: textCol,
                    extendedProps: {
                        edit_href: "{{ i.get_absolute_url_daily }}",
                        location: "{{ i.location }}",
                        comment: "{{ i.comment }}",
                        category: "{{ i.category.name }}",
                        categoryColor: "{{ i.category.color }}",
                        type: "event",
                    }
                })
            {% endfor %}
        {% endif %}

        {% if task_list %}
            {% for i in task_list %}
                {%  if i.startdate %}
                    tasklist.push({
                        title: "{{ i.title }}",
                        start: '{{ i.startdate|date:"Y-m-d" }}' + 'T' + '{{ i.starttime|time:"H:i:i"}}',
                        end: '{{ i.enddate|date:"Y-m-d" }}' + 'T' + '{{ i.endtime|time:"H:i:i"}}',
                        backgroundColor: "#ffffff",
                        borderColor: "{{ i.category.color }}",
                        textColor: "#000000",
                        editable: true,
                        durationEditable: false,
                        id: "{{ i.id }}",
                        display: "auto",
                        extendedProps: {
                            edit_href: "{{ i.get_absolute_url_daily }}",
                            location: "",
                            priority: "{{ i.priority }}",
                            deadline: "{{ i.deadline_date|date:"d.m.Y" }}  {{ i.deadline_time|time:"H:i" }}",
                            description: "{{ i.description }}",
                            categoryColor: "{{ i.category.color }}",
                            type: "task",
                            category: "{{ i.category.name }}",
                            complete: "{{ i.complete }}"
                        }
                    })
                {% endif %}
            {% endfor %}
        {% endif %}

        let categories = [];

        {% if category_list %}
            {% for c in category_list %}
                {# exclude the default category in the list #}
                if ("{{ c.name }}" !== 'None') {
                    categories.push({
                        name: "{{ c.name }}",
                        color: "{{ c.color }}",
                        textColor: background2TextColor("{{ c.color }}"),
                    })
                }
            {% endfor %}
        {% endif %}
    </script>

    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <script src="{% static 'spm/update_database.js' %}"></script>

{% endblock %}