{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

{% load icon %}

<div class="popup">
    <div class="centered-spaced-alignment spacing">
        <div class="detail-view-heading line-break">
            {{ event.title }}
        </div>
        <div class="detail-view-button-row centered-spaced-alignment">
            <a href="{% url 'event-delete' overview=overview pk=pk date=date %}" class="detail-view-button" type="button">
                <i>{% icon 'trash-2' class="detail-view-button-icons" %}</i>
            </a>
            <a href="{% url 'event-update' overview=overview pk=pk date=date %}" class="detail-view-button" type="button">
                <i>{% icon 'edit-2' class="detail-view-button-icons" %}</i>
            </a>
            <a href="{% url overview date %}" class="detail-view-button" type="button">
                <i>{% icon 'x' class="detail-view-button-icons" %}</i>
            </a>
        </div>
    </div>
    <div class="spacing">
        <hr style="color: {{ color }}">
        <p class="line-break">
            <i>{% icon 'clock' class="detail-info-icons" %}</i>
            {% if event.startdate == event.enddate %}
                {{ event.startdate|date:"d.m.Y" }}, {{ event.starttime|time:"H:i" }}
                - {{ event.endtime|time:"H:i" }}
            {% else %}
                {{ event.startdate|date:"d.m.Y" }}, {{ event.starttime|time:"H:i" }}
                - {{ event.enddate|date:"d.m.Y" }}, {{ event.endtime|time:"H:i" }}
            {% endif %}
        </p>
        {% if event.recurrence_true %}
            {% if recurrence_obj %}
                <p class="line-break">
                <i>{% icon 'repeat' class="detail-info-icons"  %}</i>
                    Repeats every
                    {% if recurrence_obj.repeat_freq > 1 %}
                        {{ recurrence_obj.repeat_freq }} {{ recurrence_obj.get_repeat_type_display|cut:"(s)" }}s
                    {% else %}
                        {{ recurrence_obj.get_repeat_type_display|cut:"(s)" }}
                    {% endif %}
                    {% if recurrence_obj.repeat_type == 2 %}
                        on the {{ event.startdate|date:"d." }}
                    {% elif recurrence_obj.repeat_type == 3 %}
                        on the {{ event.startdate|date:"d.m." }}
                    {% endif %}
                    until {{ recurrence_obj.repeat_end|date:"d.m.Y" }}
                    {% if recurrence_obj.weekdays %}
                        each
                        {% for wkd in recurrence_obj_weekdays %}
                            {% if forloop.last %}
                                {{ wkd }}
                            {% else %}
                                {{ wkd }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}

        {% if event.location %} <!-- display only if event has a location -->
            <p class="line-break">
                <i>{% icon 'map-pin' class="detail-info-icons" %}</i>
                {{ event.location }}
            </p>
        {% endif %}
        {% if event.comment %} <!-- display only if event has a comment -->
            <p class="line-break">
                <i>{% icon 'message-square' class="detail-info-icons" %}</i>
                {{ event.comment }}
            </p>
        {% endif %}
    </div>
</div>
<div class="overlay"></div>