{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

<div class="warning-popup active">
    <div class="delete-svg"></div>
    <p class="first-par-warning-popup">
        This event will be deleted.
    </p>
    <p class="second-par-warning-popup">
        Deleted events cannot be recovered.
    </p>
    {% if recurrence_true %}
        <div class="event-delete-multiple">
            This event is part of a recurrence pattern. Do you want to delete only this element or all?
        </div>
    {% endif %}
    <button class="warning-popup-buttons gray-button-warning-popup" onclick="history.back()">
        CANCEL
    </button>
    <form action="" method="POST">
        {% csrf_token %}
        {% if recurrence_true %}
            <button class="warning-popup-buttons red-button-warning-popup" type="submit" name="delete_this">
                DELETE THIS
            </button>
            <button class="warning-popup-buttons red-button-warning-popup" type="submit" name="delete_all">
                DELETE ALL
            </button>
        {% else %}
            <button class="warning-popup-buttons red-button-warning-popup" type="submit" name="delete_this">
                DELETE
            </button>
        {% endif %}
    </form>
</div>
<div class="overlay"></div>