{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

{% load icon %}
{% load static %}

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

<div class="popup">
    <form autocomplete="off" action="" method="post">
        {% csrf_token %}
        {# sturturing into rows using div #}
        {# divs are easier to style and to put into position #}
        <div class="inline-to-block spacing">
            {# sturturing into input elements using div #}
            {# 'input' is the general class that can be reused for every input field followed by field specific styling #}
            {# prevents code duplicates #}
            <div class="input centered-spaced-alignment input-title input-height" id="id_new-event-title">
                {{ form.title }}
                <i class="smart-info tooltip-initiator">
                    {% icon 'info' class="smart-info-icon-secondary" %}
                    <span class="tooltiptext required">
                         This is a required field.
                    </span>
                 </i>
            </div>
            <div class="input centered-spaced-alignment input-category input-height autocomplete">
                {{ cat_form.name }}
                {{ cat_form.color }}
            </div>
            <div class="input centered-spaced-alignment input-close-button input-height">
                {# in forms the default type for buttons is 'submit' so this needs to be set explicitely #}
                <button id="id_close-button-new-event" type="button" class="button close-button">
                    <i class="popup-icons">{% icon 'x' %}</i>
                </button>
            </div>
        </div>
        <div class="inline-to-block spacing">
            {# the spacing between the elements can not be seen because the input class has the white background #}
            {# otherwise we would have to put all the elements in one single line which makes the code very hard to read #}
            <div class="input centered-spaced-alignment event-input-elements input-height">
                {# onlick() is not needed since all of the functinality is in the EventListeners #}
                <button type="button" class="button toggle-button" id="id_startdate-prev">
                    {% icon "chevron-left" %}
                </button>
                {{ form.startdate }}
                <button type="button" class="button toggle-button" id="id_startdate-next">
                    {% icon "chevron-right" %}
                </button>
            </div>
            <div class="input centered-spaced-alignment event-input-elements input-height">
                <button type="button" class="button toggle-button" id="id_enddate-prev" disabled>
                    {% icon "chevron-left" %}
                </button>
                {{ form.enddate }}
                <button type="button" class="button toggle-button" id="id_enddate-next" disabled>
                    {% icon "chevron-right" %}
                </button>
            </div>
            <div class="input centered-spaced-alignment event-input-elements input-height">
                {{ form.location }}
                <i class="popup-icons popup-location-icon" id="id_location-icon">{% icon "map-pin" %}</i>
            </div>
        </div>
        <div class="inline-to-block spacing grid-container">

            <div class="input centered-spaced-alignment event-input-elements input-height grid-element">
                <button type="button" class="button toggle-button" id="id_starttime-prev">
                    {% icon "chevron-left" %}
                </button>
                {{ form.starttime }}
                <button type="button" class="button toggle-button" id="id_starttime-next">
                    {% icon "chevron-right" %}
                </button>
            </div>

            <div class="input centered-spaced-alignment event-input-elements input-height grid-element">
                <button type="button" class="button toggle-button" id="id_endtime-prev">
                    {% icon "chevron-left" %}
                </button>
                {{ form.endtime }}
                <button type="button" class="button toggle-button" id="id_endtime-next">
                    {% icon "chevron-right" %}
                </button>
            </div>

            <div class="input event-input-elements input-height form-comment grid-element">
                {{ form.comment }}
            </div>
            <div class="recurrence-wrapper double-padding">
                <div class="centered-spaced-alignment">
                    <div class="centered-spaced-alignment">
                        {{ form.recurrence_true }}
                        <div id="id_recurring-checkbox-label" class="input-labels"></div>
                    </div>
                    <i class="smart-info tooltip-initiator">
                        {% icon 'info' class="smart-info-icon" %}
                        <span class="tooltiptext">
                            Events can be repeated weekly, monthly or yearly. For a weekly repetition
                            the weekdays on which the event should be repeated can be selected. The weekday
                            of the startdate is mandatory. The update of a repetition pattern is only possible
                            for this and the following events, while title, category, start- and endtime,
                            location and comment get updated for all events of one series.
                        </span>
                    </i>
                </div>
                <div id="id_recurrence-pattern" class="recurrence">
                    <div class="centered-spaced-alignment spacing-top">
                        <div class="input-labels">
                            Repeat every
                        </div>
                        <div class="recurrence-input-column-width centered-spaced-alignment">
                            <div class="input centered-spaced-alignment input-recurrence input-recurrence-freq">
                                {{ recurrence_form.repeat_freq }}
                            </div>
                            <div class="input centered-spaced-alignment input-recurrence input-recurrence-type">
                                {{ recurrence_form.repeat_type }}
                            </div>
                            <div class="input-labels">
                                until
                            </div>
                            <div class="input centered-spaced-alignment input-recurrence input-recurrence-end">
                                <button type="button" class="button toggle-button" id="id_repeat-end-prev">
                                    {% icon "chevron-left" %}
                                </button>
                                {{ recurrence_form.repeat_end }}
                                <button type="button" class="button toggle-button" id="id_repeat-end-next">
                                    {% icon "chevron-right" %}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="centered-spaced-alignment double-spacing-top">
                        <div class="input-labels">
                            Recurring on
                        </div>
                        <div class="input-recurring-weekdays recurrence-input-column-width">
                            {{ weekdays_form.monday }}
                            <label data-weekday-label for="id_monday">Mon</label>
                            {{ weekdays_form.tuesday }}
                            <label data-weekday-label for="id_tuesday">Tue</label>
                            {{ weekdays_form.wednesday }}
                            <label data-weekday-label for="id_wednesday">Wed</label>
                            {{ weekdays_form.thursday }}
                            <label data-weekday-label for="id_thursday">Thu</label>
                            {{ weekdays_form.friday }}
                            <label data-weekday-label for="id_friday">Fri</label>
                            {{ weekdays_form.saturday }}
                            <label data-weekday-label for="id_saturday">Sat</label>
                            {{ weekdays_form.sunday }}
                            <label data-weekday-label for="id_sunday">Sun</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="submit-button" id="id_submit-button-new-event" disabled>
            {% icon "check" class="submit-icon" %}
        </button>
    </form>
</div>
<div id="id_warning-popup-new-event" class="warning-popup">
    <p class="first-par-warning-popup"> Do you want to leave? </p>
    <p class="second-par-warning-popup"> Changes will be discarded.</p>
    <row>
        {# redirect to overview url #}
        {# if a goes before the button the text does not appear as a link #}
        <a href="{% url overview date %}">
            <button type="button" class="warning-popup-buttons gray-button-warning-popup">
                DISCARD
            </button>
        </a>
        <button id="id_cancel-button-warning-popup" type="button"
                class="warning-popup-buttons orange-button-warning-popup">
            CANCEL
        </button>
    </row>
</div>
<div class="overlay" id="id_overlay-new-event"></div>

{# at the bottom where the file is loaded to solve firefox issues #}
<script src="{% static 'spm/event_form_formatting.js' %}"></script>
<script src="{% static 'spm/category_form_autocomplete.js' %}"></script>
<script>
    autocomplete(document.getElementById("id_name"), document.getElementById("id_color"), categories)
</script>
