{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

{% load icon %}
{% load static %}

<!-- Get the current date and time to check later if a task is overdue -->
{% load tz %}
{% timezone "Europe/Paris" %}
    {% now "Y-m-d" as todays_date %}
    {% now "H:i" as current_time %}
{% endtimezone %}

<div class="popup smart-planning-settings">
    <div class="smart-header">
        Smart Planning
    </div>
    <div class="leftover-tasks-description">
        The smart planning process finished. The AI component was not able to find a suitable timeslot for the task(s)
        listed below. You can either retry the planning process or place the task manually yourself after closing this
        popup.
    </div>
    <div class="smart-open-task-main">
        <div class="smart-task-list leftover-tasks">
            {% for l in leftover_tasks  %}
                <div class="smart-open-task-item" id="{{ l.id }}-item">
                    {{ l.title }}
                    <hr id="{{ l.id }}-hr">
                    <script>
                        var hr_smart_task = document.getElementById('{{ l.id }}-hr');
                        hr_smart_task.style.color = '{{ l.category.color }}';

                        /* Overdue tasks should appear in red font (same as in the sidebar view) */
                        {% if todays_date > l.deadline_date|date:"Y-m-d" or todays_date == l.deadline_date|date:"Y-m-d" and current_time > l.deadline_time|time:"H:i" %}
                            var btn_smart_task = document.getElementById('{{ l.id }}-button');
                            btn_smart_task.style.color = 'red';
                        {% endif %}
                    </script>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="smart-planning-buttons">
        <button type="reset" class="smart-go-back"
                onclick="window.location.href = window.location.href.replace('insertSmartTasks/openTasksLeft/','smartPlanningSettings/')">
            Try again
        </button>
        <button type="submit" class="submit-button save-and-redirect"
                onclick="window.location.href = '{% url overview date=date %}'">
            Close
        </button>
    </div>

</div>
<div class="overlay"></div>
