{% extends 'spc/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load icon %}

<!-- Add additional CSS in static file -->
{% block extracss %}
    <link rel="stylesheet" href="{% static 'spm/formatting.css' %}">
{% endblock %}

{% block content %}

    <div class="space-alignment disable-text-select">
        <div class="main-smartplanner" id="id_main-smartplanner">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">SmartPlanner</h1>
            </div>

            {% bootstrap_messages %}

            {% block overview %}{% endblock %}
            <div class="main">
                <div class="add" id="id_add">
                    <div data-add-button class="add-task-or-event" id="add-event">
                        <p class="vertical-centered">Event</p>
                        <a href="event/new/" class="add-task-or-event-button-icon">
                            <button data-popup class="add-task-or-event-button add-event-button-icon">
                            </button>
                        </a>
                    </div>
                    <div data-add-button class="add-task-or-event" id="add-task">
                        <p class="vertical-centered">Task</p>
                        <a href="task/new/" class="add-task-or-event-button-icon">
                            <button data-popup class="add-task-or-event-button add-task-button-icon">
                            </button>
                        </a>
                    </div>
                    <button class="add-button" id="add-button">
                        <i class="add-button-icon">{% icon 'plus' class="feather-icon-50" %}</i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar -->

        <div id="id_calendar-overview-sidenav" class="calendar-overview-sidenav">
            <button class="toggle-sidebar-button toggle-sidebar-button-close" id="id_toggle-sidebar-button">
            </button>
            <div id="id_sidenav-content" class="sidenav-content">
                <!-- Get the current date and time to check later if a task is overdue -->
                {% load tz %}
                {% timezone "Europe/Paris" %}
                    {% now "Y-m-d" as todays_date %}
                    {% now "H:i" as current_time %}
                {% endtimezone %}
                <div class="sidenav-header">
                    Your Tasks
                    <i class="smart-info tooltip-initiator-bottom-tooltip">
                        {% icon 'info' class="smart-info-icon"%}
                        <span class="tooltiptext tooltip-bottom">
                            All current tasks are visible in the sidebar. <br>
                            You can drag and drop tasks into the calendar, if they aren't already inserted. <br>
                            You can drag tasks from the calendar and drop them into the sidebar to remove them from the calendar. <br>
                            You can open the detail view of a task by clicking onto it. <br>
                            You can mark tasks as complete by ticking the checkbox. <br>
                            The ten most recently completed tasks appear under done.
                        </span>
                    </i>
                </div>

                {% if task_list %}
                    <div class="accordion" id="id_task-accordion">
                        <!-- Start with high priority tasks -->
                        {% if high_prio_task_count != 0 %}
                            <div class="background-accordion">
                                <button id="buttonHigh" class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#id_collapseHigh">
                                    HIGH
                                    <span class="badge rounded-pill">
                                        {{ high_prio_task_count }}
                                    </span>
                                </button>
                                <div id="id_collapseHigh" class="accordion-collapse">
                                    {% for i in open_tasks %}
                                        {% if i.priority == 3 %}
                                                <li class="list-group-item-task" data-id="{{ i.id }}"
                                                    data-duration="{{ i.duration }}" data-color="{{ i.category.color }}"
                                                    style="border-left: 7px solid {{ i.category.color }}">
                                                    <a href="{% url 'complete' overview=overview date=date pk=i.id %}" id="{{ i.id }}">
                                                        <input class="form-check-input me-1"
                                                               type="checkbox"
                                                               onclick="window.location.href =
                                                                       document.getElementById('{{ i.id }}').href">
                                                    </a>
                                                    {{ i.title }}
                                                    {% if todays_date > i.deadline_date|date:"Y-m-d" or todays_date == i.deadline_date|date:"Y-m-d" and current_time > i.deadline_time|time:"H:i" %}
                                                        <span style="color: var(--error); float: right">
                                                            Overdue
                                                        </span>
                                                    {% endif %}
                                                </li>

                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <!-- Medium priority tasks -->
                        {% if medium_prio_task_count != 0 %}
                            <div class="background-accordion">
                                <button id="buttonMedium" class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#id_collapseMedium">
                                    MEDIUM
                                    <span class="badge rounded-pill">
                                        {{ medium_prio_task_count }}
                                    </span>
                                </button>
                                <div id="id_collapseMedium" class="accordion-collapse">
                                    {% for i in open_tasks %}
                                        {% if i.priority == 2 %}
                                            <li class="list-group-item-task" data-id="{{ i.id }}"
                                                    data-duration="{{ i.duration }}" data-color="{{ i.category.color }}"
                                                    style="border-left: 7px solid {{ i.category.color }}">
                                                    <a href="{% url 'complete' overview=overview date=date pk=i.id %}" id="{{ i.id }}">
                                                        <input class="form-check-input me-1"
                                                               type="checkbox"
                                                               onclick="window.location.href =
                                                                       document.getElementById('{{ i.id }}').href">
                                                    </a>
                                                    {{ i.title }}
                                                    {% if todays_date > i.deadline_date|date:"Y-m-d" or todays_date == i.deadline_date|date:"Y-m-d" and current_time > i.deadline_time|time:"H:i" %}
                                                        <span style="color: var(--error); float: right">
                                                            Overdue
                                                        </span>
                                                    {% endif %}
                                                </li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <!-- Low priority tasks -->
                        {% if low_prio_task_count != 0 %}
                            <div class="background-accordion">
                                <button id="buttonLow" class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#id_collapseLow">
                                    LOW
                                    <span class="badge rounded-pill">
                                        {{ low_prio_task_count }}
                                    </span>
                                </button>
                                <div id="id_collapseLow" class="accordion-collapse">
                                    {% for i in open_tasks %}
                                        {% if i.priority == 1 %}
                                            <li class="list-group-item-task" data-id="{{ i.id }}"
                                                    data-duration="{{ i.duration }}" data-color="{{ i.category.color }}"
                                                    style="border-left: 7px solid {{ i.category.color }}">
                                                    <a href="{% url 'complete' overview=overview date=date pk=i.id %}" id="{{ i.id }}">
                                                        <input class="form-check-input me-1"
                                                               type="checkbox"
                                                               onclick="window.location.href =
                                                                       document.getElementById('{{ i.id }}').href">
                                                    </a>
                                                    {{ i.title }}
                                                {% if todays_date > i.deadline_date|date:"Y-m-d" or todays_date == i.deadline_date|date:"Y-m-d" and current_time > i.deadline_time|time:"H:i" %}
                                                        <span style="color: var(--error); float: right">
                                                            Overdue
                                                        </span>
                                                    {% endif %}
                                                </li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <!-- Display the done tasks in a separate section -->
                        {% if done_tasks %}
                            <hr style="color: var(--searchbar-grey);">
                            <div class="background-accordion">
                                <button id="id_doneTasksButton" class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#id_collapseDone">
                                    DONE
                                    <span class="badge rounded-pill"> </span>
                                </button>
                                <div id="id_collapseDone" class="accordion-collapse">
                                    {% for i in done_tasks %}
                                        <li class="list-group-item-task" data-id="{{ i.id }}"
                                            data-color="{{ i.category.color }}"
                                            data-duration="{{ i.duration }}" data-done="true"
                                            style="border-left: 7px solid {{ i.category.color }}">
                                            <a href="{% url 'complete' overview=overview date=date pk=i.id %}" id="{{ i.id }}">
                                                <input class="form-check-input me-1" type="checkbox"
                                                       onclick="window.location.href =
                                                               document.getElementById('{{ i.id }}').href" checked>
                                            </a>
                                            <s>{{ i.title }}</s>
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- In case there are no tasks to display -->
                {% else %}
                    <div class="notasks-popup">
                        <div class="notasks-svg"></div>
                        <p class="first-par-notask-popup">
                            There are no tasks for this week.
                        </p>
                        <p class="second-par-notask-popup">
                            Add a new task.
                        </p>
                        <row class="button-row-no-task-popup">
                            <a href="task/new/">
                                <button class="notask-popup-buttons new-button-notask-popup" type="submit">
                                    NEW
                                </button>
                            </a>
                        </row>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% block calendar-js %}{% endblock %}

{% endblock %}

<!-- csrf authentication -->
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

<!-- Add additional JavaScript in static file -->
{% block extrajs %}
    <script src="{% static 'spm/format.js' %}"></script>
    <script src="{% static 'spm/calendar_overview_formatting.js' %}"></script>
    <script src="{% static 'spm/calendar_task_sidebar_formatting.js' %}"></script>
{% endblock %}