{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

<!-- TODO settings popup -->

{% load icon %}
{% load static %}

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">


<div class="popup smart-planning-settings">
    <!-- Get the current date and time to check later if a task is overdue -->
    {% load tz %}
    {% timezone "Europe/Paris" %}
        {% now "Y-m-d" as todays_date %}
        {% now "H:i" as current_time %}
    {% endtimezone %}
    <div class="smart-header">
        SmartPlanning - Settings
    </div>
    <div class="smart-explanation">
        <button class="smart-explanation-button down-icon" id="id_smart-explanation-button"></button>
        <div class="smart-explanation-text" id="id_smart-explanation-text"></div>
    </div>
    <hr id="hr-smart-settings">
    <div class="smart-main-settings">
        <form autocomplete="off" action="" method="post">
            {% csrf_token %}

            <table class="smart-planning-settings-table">
                <tr class="smart-step-block">
                    <span>
                        <td class="smart-step">
                            <div class="smart-step-num">
                                1
                            </div>
                        </td>
                        <td class="smart-selection-box" id="id_weekday-selection-box">
                            <p class="smart-step-description">Select the weekdays where tasks are planned on
                                <i class="smart-info tooltip-initiator">
                                    {% icon 'info' class="smart-info-icon"%}
                                    <span class="tooltiptext">
                                        Tasks will only be planned on weekdays of your choosing.
                                        For example, if you select the days between Monday and Friday, no tasks will be
                                        planned on the weekend.
                                        To select or deselect a weekday please click on it.
                                    </span>
                                </i>
                            </p>
                            {{ weekdays_form.monday }}
                            <label for="id_monday">Mon</label>
                            {{ weekdays_form.tuesday }}
                            <label for="id_tuesday">Tue</label>
                            {{ weekdays_form.wednesday }}
                            <label for="id_wednesday">Wed</label>
                            {{ weekdays_form.thursday }}
                            <label for="id_thursday">Thu</label>
                            {{ weekdays_form.friday }}
                            <label for="id_friday">Fri</label>
                            {{ weekdays_form.saturday }}
                            <label for="id_saturday">Sat</label>
                            {{ weekdays_form.sunday }}
                            <label for="id_sunday">Sun</label>
                        </td>
                    </span>
                </tr>

                <tr class="smart-step-block">
                    <td class="smart-step">
                        <div class="smart-step-num">
                            2
                        </div>
                    </td>
                    <td class="smart-selection-box">
                        <p class="smart-step-description">Select the daily time frame
                            <i class="smart-info tooltip-initiator">
                                {% icon 'info' class="smart-info-icon" %}
                                <span class="tooltiptext">
                                    Tasks will only be planned during a chosen timeframe on days you selected in step 1.
                                    You can individualize this according to your preferences using the arrows.
                                </span>
                            </i>
                        </p>
                        <div class="input centered-spaced-alignment smart-settings-input time">
                            <button type="button" class="button toggle-button" id="id_smart-starttime-prev">
                                {% icon "chevron-left" class="smart-settings-button" %}
                            </button>
                            {{ form.smart_starttime }}
                            <button type="button" class="button toggle-button" id="id_smart-starttime-next">
                                {% icon "chevron-right" class="smart-settings-button" %}
                            </button>
                        </div>

                        <div class="input centered-spaced-alignment smart-settings-input time">
                            <button type="button" class="button toggle-button" id="id_smart-endtime-prev">
                                {% icon "chevron-left" class="smart-settings-button" %}
                            </button>
                            {{ form.smart_endtime }}
                            <button type="button" class="button toggle-button" id="id_smart-endtime-next">
                                {% icon "chevron-right" class="smart-settings-button" %}
                            </button>
                        </div>
                    </td>
                </tr>

                <tr class="smart-step-block">
                    <td class="smart-step">
                        <div class="smart-step-num">
                            3
                        </div>
                    </td>
                    <td class="smart-selection-box">
                        <p class="smart-step-description">Select a start- and enddate
                            <i class="smart-info tooltip-initiator">
                                {% icon 'info' class="smart-info-icon"%}
                                <span class="tooltiptext">
                                    Tasks will only be planned from and until dates of your choosing. You can change the
                                    start- and enddate according to your preferences.
                                </span>
                            </i>
                        </p>
                        <div class="input centered-spaced-alignment smart-settings-input">
                            <button type="button" class="button toggle-button" id="id_smart-startdate-prev">
                                {% icon "chevron-left" class="smart-settings-button" %}
                            </button>
                            {{ form.smart_startdate }}
                            <button type="button" class="button toggle-button" id="id_smart-startdate-next">
                                {% icon "chevron-right" class="smart-settings-button" %}
                            </button>
                        </div>

                        <div class="input centered-spaced-alignment smart-settings-input">

                            <button type="button" class="button toggle-button" id="id_smart-enddate-prev">
                                {% icon "chevron-left" class="smart-settings-button" %}
                            </button>
                            {{ form.smart_enddate }}
                            <button type="button" class="button toggle-button" id="id_smart-enddate-next">
                                {% icon "chevron-right" class="smart-settings-button" %}
                            </button>
                        </div>
                    </td>
                </tr>

                <tr class="smart-step-block">
                    <td class="smart-step">
                        <div class="smart-step-num">
                            4
                        </div>
                    </td>
                    <td class="smart-selection-box">
                        <p class="smart-step-description last-item">Select your tasks
                            <i class="smart-info tooltip-initiator">
                                {% icon 'info' class="smart-info-icon" %}
                                <span class="tooltiptext">
                                    You can select the tasks you want us to plan into your calendar. Select a task
                                    by clicking on it. You can select multiple, too!
                                </span>
                            </i>
                        </p>
                        <div class="smart-task-list">
                            <script>
                                opentasks = [];
                                tasklist.forEach(task => {
                                    if (task.extendedProps.complete === 'False') {
                                        opentasks.push(task);
                                    }
                                })
                            </script>
                            {% if smart_tasks %}
                                {% for i in smart_tasks %}
                                    <button type="button" class="smart-task-button" id="{{ i.id }}-button"
                                            style="border-left: 7px solid {{ i.category.color }}; overflow-x: hidden">
                                        {{ i.title }}
                                        <!-- Overdue tasks should appear in red font (same as in the sidebar view)-->
                                        {% if todays_date > i.deadline_date|date:"Y-m-d" or todays_date == i.deadline_date|date:"Y-m-d" and current_time > i.deadline_time|time:"H:i" %}
                                            <span style="color: var(--error); float: right">
                                                Overdue
                                            </span>
                                        {% endif %}
                                    </button>
                                {% endfor %}
                            {% else %}
                                <div class="no-smart-tasks">
                                    No open tasks
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>

            <input type="hidden" id="hidden-field-task2use" name="tasks2use">
            <div class="smart-planning-buttons">
                <button type="reset" class="smart-go-back" onclick="window.location.href = '{% url overview date=date%}'">
                    Go back
                </button>
                <button type="submit" class="submit-button save-and-redirect" id="id_submit-button-smart-settings" disabled>
                    Start planning process
                </button>
            </div>

            {% block extrajs %}
                <script src="{% static 'spm/smartplanningsettings_form.js' %}"></script>
            {% endblock %}
        </form>
    </div>
</div>
<div class="overlay"></div>