{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

<div class="warning-popup active">
    <div class="delete-svg"></div>
    <p class="first-par-warning-popup">
        This task will be deleted.
    </p>
    <p class="second-par-warning-popup">
        Deleted tasks cannot be recovered.
    </p>
    <button class="warning-popup-buttons gray-button-warning-popup" onclick="history.back()">
        CANCEL
    </button>
    <form action="" method="POST">
        {% csrf_token %}
        <button class="warning-popup-buttons red-button-warning-popup" type="submit">
            DELETE
        </button>
    </form>
</div>
<div class="overlay"></div>
