{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}

{% load icon %}
{% load static %}

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

<div class="popup">
    <form autocomplete="off" action="" method="post">
        {% csrf_token %}
        {# structuring the header of the pop up #}
        <div class="inline-to-block spacing">
            <div class="input centered-spaced-alignment input-title input-height" id="id_new-task-title">
                {{ form.title }}
                 <i class="smart-info tooltip-initiator">
                    {% icon 'info' class="smart-info-icon-secondary" %}
                    <span class="tooltiptext required">
                         This is a required field.
                    </span>
                 </i>
            </div>
            <div class="input centered-spaced-alignment input-category input-height autocomplete">
                {{ cat_form.name }}
                {{ cat_form.color }}
            </div>
            <div class="input centered-spaced-alignment input-close-button input-height">
                {# in forms the default type for buttons is 'submit' so this needs to be set explicitely #}
                <button id="id_close-button-new-task" type="button" class="button close-button">
                    <i class="popup-icons">{% icon 'x' %}</i>
                </button>
            </div>
        </div>
        {# structuring the body of the pop up #}
        <div class="inline-to-block spacing">
            {# column containing deadline duration and priority #}
            <div class="task-input-column-width">
                {# row containing deadline and duration #}
                <div class="centered-spaced-alignment">
                    {# column containing deadline #}
                    <div class="deadline-input-column-width">
                        <p class="task-input-labels">
                            Deadline:
                        </p>
                        <div class="input input-height centered-spaced-alignment">
                            <button type="button" class="button toggle-button" id="id_deadline-date-prev" disabled>
                                {% icon "chevron-left" %}
                            </button>
                            {{ form.deadline_date }}
                            <button type="button" class="button toggle-button" id="id_deadline-date-next">
                                {% icon "chevron-right" %}
                            </button>
                        </div>
                        <div class="input input-height spacing-top centered-spaced-alignment">
                            <button type="button" class="button toggle-button" id="id_deadline-time-prev">
                                {% icon "chevron-left" %}
                            </button>
                            {{ form.deadline_time }}
                            <button type="button" class="button toggle-button" id="id_deadline-time-next">
                                {% icon "chevron-right" %}
                            </button>
                        </div>
                    </div>
                    {# column containing duration #}
                    <div>
                        <p class="task-input-labels">
                            Duration:
                        </p>
                        <div class="input-duration">
                            <div class="centered-spaced-alignment">
                                <button type="button" class="button" id="id_duration-h-next">
                                    {% icon "chevron-up" %}
                                </button>
                                <button type="button" class="button" id="id_duration-min-next">
                                    {% icon "chevron-up" %}
                                </button>
                            </div>
                            {{ form.duration }}
                            <div class="widget-inputs widget-duration" id="id_duration-renderer"></div>
                            <div class="centered-spaced-alignment">
                                <button type="button" class="button" id="id_duration-h-prev">
                                    {% icon "chevron-down" %}
                                </button>
                                <button type="button" class="button" id="id_duration-min-prev">
                                    {% icon "chevron-down" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {# row containing priority #}
                <div class="centered-spaced-alignment spacing-top">
                    <p class="input-labels vertical-centered">
                        Priority:
                    </p>
                    <div class="input input-priority centered-spaced-alignment input-height">
                        {{ form.priority }}
                    </div>
                </div>
                <div class="centered-spaced-alignment spacing-top">
                    <p class="input-labels vertical-centered">
                        Allow Smart Planning:
                    </p>
                    <div class="input input-ai_scheduler centered-spaced-alignment input-height">
                        {{ form.ai_scheduler }}
                    </div>
                </div>
            </div>
            {# column containing description #}
            <div class="input input-description line-break">
                <div class="djdt-scroll"></div>
                {{ form.description }}
            </div>
        </div>
        {# submit button #}
        <button id="id_submit-button-new-task" type="submit" class="submit-button" disabled>
            {% icon "check" class="submit-icon" %}
        </button>
    </form>
</div>
<div id="id_warning-popup-new-task" class="warning-popup">
    <p class="first-par-warning-popup"> Do you want to leave? </p>
    <p class="second-par-warning-popup"> Changes will be discarded.</p>
    <row>
        {# redirect to overview url #}
        {# if a goes before the button the text does not appear as a link #}
        <a href="{% url overview date %}">
            <button type="button" class="warning-popup-buttons gray-button-warning-popup">
                DISCARD
            </button>
        </a>
        <button id="id_cancel-button-warning-popup" type="button"
                class="warning-popup-buttons orange-button-warning-popup">
            CANCEL
        </button>
    </row>
</div>
<div class="overlay" id="id_overlay-new-task"></div>

{# at the bottom where the file is loaded to solve firefox issues #}
<script src="{% static 'spm/task_form_formatting.js' %}"></script>
<script src="{% static 'spm/category_form_autocomplete.js' %}"></script>
<script>
    autocomplete(document.getElementById("id_name"), document.getElementById("id_color"), categories)
</script>


