{% if overview == 'weekly' %}
    {% include 'spm/weekly.html' %}
{% elif overview == 'daily' %}
    {% include 'spm/daily.html' %}
{% endif %}
{# load fontawesome icons for hourglass #}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
{% load icon %}

<div class="popup">
    <div class="centered-spaced-alignment spacing">
        <div class="detail-view-heading line-break">
            {{ task.title }}
        </div>
        <div class="detail-view-button-row centered-spaced-alignment">
            <a href="{% url 'task-delete' overview=overview pk=pk date=date %}" class="detail-view-button" type="button">
                <i>{% icon 'trash-2' class="detail-view-button-icons" %}</i>
            </a>
            <a href="{% url 'task-update' overview=overview pk=pk date=date %}" class="detail-view-button" type="button">
                <i>{% icon 'edit-2' class="detail-view-button-icons" %}</i>
            </a>
           <a href="{% url overview date %}" class="detail-view-button" type="button">
                <i>{% icon 'x' class="detail-view-button-icons" %}</i>
            </a>
        </div>
    </div>
    <div class="spacing">
        <hr style="color: {{ color }}">
        <div class="spaced-alignment">
            <p class="deadline-width line-break">
                <i>{% icon 'check-square' class="detail-info-icons" %}</i>
                {{ task.deadline_date|date:"d.m.Y" }}, {{ task.deadline_time|time:"H:i" }}
            </p>
            {% if task.priority == 1 %}
                <div class="detail-view-button-row centered-spaced-alignment">
                    <input class="priority-button active" type="button" value="!" >
                        <input class="priority-button" type="button" value="!!" >
                            <input class="priority-button" type="button" value="!!!" >
                </div>
            {% elif task.priority == 2 %}
                <div class="detail-view-button-row centered-spaced-alignment">
                    <input class="priority-button" type="button" value="!" >
                        <input class="priority-button active" type="button" value="!!" >
                            <input class="priority-button" type="button" value="!!!" >
                </div>
            {% else %}
                <div class="detail-view-button-row centered-spaced-alignment">
                    <input class="priority-button" type="button" value="!" >
                        <input class="priority-button" type="button" value="!!" >
                            <input class="priority-button active" type="button" value="!!!" >
                </div>
            {% endif %}
        </div>
        <p class="line-break">
            <i class='detail-info-icons fas fa-hourglass-half'></i>
            {# remove the seconds #}
            {% if task.duration|make_list|length_is:"8" %}
                {{ task.duration|make_list|slice:":5"|join:"" }}
            {% else %}
                {{ task.duration|make_list|slice:":4"|join:"" }}
            {% endif %}
        </p>
        <div>
            {% if task.description %} <!-- display only if task has a comment -->
                <p class="line-break">
                    <i>{% icon 'message-square' class="detail-info-icons" %}</i>
                    {{ task.description }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="overlay"></div>