{% extends 'spm/planner_startpage.html' %}

{% load static %}
{% load icon %}

{% block overview %}
<!-- insert weekly overview template here -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

    <div id="calendar-overview"></div>

    <script>
        let THRESH = 200;
        function background2TextColor(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            var r = parseInt(result[1], 16);
            var g = parseInt(result[2], 16);
            var b = parseInt(result[3], 16);

            if (Math.round(0.21 * r + 0.72 * g + 0.07 * b) > THRESH) {
                return '#000000';
            } else {
                return '#ffffff';
            }
        }
        /* to access the context data in javascript file */
        let date2Initialize = '{{ date }}'

        /* Create a list of all events that should be displayed */
        let eventlist = [];
        let tasklist = [];

        {% if event_list %}
            {% for i in event_list %}
                var backgroundColor = "{{ i.category.color }}";
                var textCol = '#ffffff';
                if (backgroundColor) {
                    textCol = background2TextColor(backgroundColor);
                }

                eventlist.push({
                    id: "{{ i.id }}",
                    title: "{{ i.title }}",
                    start: '{{ i.startdate|date:"Y-m-d" }}' + 'T' + '{{ i.starttime|time:"H:i:i"}}',
                    end: '{{ i.enddate|date:"Y-m-d" }}' + 'T' + '{{ i.endtime|time:"H:i:i"}}',
                    editable: false,
                    backgroundColor: "{{ i.category.color }}",
                    borderColor: "{{ i.category.color }}",
                    textColor: textCol,
                    extendedProps: {
                        edit_href: "{{ i.get_absolute_url_weekly }}",
                        location: "{{ i.location }}",
                        category: "{{ i.category.name }}",
                        type: "event",
                    }
                })
            {% endfor %}
        {% endif %}

        {% if task_list %}
            {% for i in task_list %}
                {%  if i.startdate %}
                    tasklist.push({
                        title: "{{ i.title }}",
                        start: '{{ i.startdate|date:"Y-m-d" }}' + 'T' + '{{ i.starttime|time:"H:i:i"}}',
                        end: '{{ i.enddate|date:"Y-m-d" }}' + 'T' + '{{ i.endtime|time:"H:i:i"}}',
                        backgroundColor: "#ffffff",
                        borderColor: "{{ i.category.color }}",
                        textColor: "#000000",
                        editable: true,
                        display: "auto",
                        durationEditable: false,
                        id: "{{ i.id }}",
                        extendedProps: {
                            edit_href: "{{ i.get_absolute_url_weekly }}",
                            location: "",
                            id: "{{ i.id }}",
                            type: "task",
                            category: "{{ i.category.name }}",
                            complete: "{{ i.complete }}",
                        }
                    })
                {% endif %}
            {% endfor %}
        {% endif %}

        let categories = [];

        {% if category_list %}
            {% for c in category_list %}
                {# exclude the default category in the list #}
                if ("{{ c.name }}" !== 'None') {
                    categories.push({
                        name: "{{ c.name }}",
                        color: "{{ c.color }}",
                        textColor: background2TextColor("{{ c.color }}"),
                    })
                }
            {% endfor %}
        {% endif %}
    </script>

    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <script src="{% static 'spm/update_database.js' %}"></script>

{% endblock %}