{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}
<div class="p-2">
    <p>Password was reset! Please <a href="{% url 'login' %}">log in</a> using your new password.</p>
</div>
{% endblock %}