{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}
<div class="p-2">
<p>If your email address is registered in our database, we've emailed you instructions for setting a new password.
    If you don't get an email in a few minutes, check your spam folder.</p>
</div>
{% endblock %}