{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}
{% for error in form.non_field_errors %}
    {{ error }}
{% endfor %}
    <div class="p-2">
{% if validlink %}
<form method="post" action="">
{% csrf_token %}
    <h3>Password Change</h3>
    <div class="col-sm-3 mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="new_password1" class="form-control" type="password" size="20" id="password">
        {% for error in form.new_password1.errors %}
             <span style="color:red" >{{  error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-3 mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input name="new_password2" class="form-control" type="password" size="20" id="confirm_password">
        {% for error in form.new_password2.errors %}
            <span style="color:red" >{{  error }}</span>
        {% endfor %}
        <span id="pw_message_error" class="form-control-err-msg" style="color:red">
            Passwords do not match!
        </span>
        <span id="pw_message_success" class="form-control-success-msg" style="color:green">
            Passwords match!
        </span>
    </div>
    <button type="submit" value="passwordReset" class="btn btn-primary mb3">Change Password</button>
</form>
{% else %}
<h3>Password reset failed</h3>
{% endif %}
</div>
{% endblock %}