{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}
<div class="p-2">
    <h3>Password Reset</h3>
    <p>We will send you further instructions on how to reset your password to your email.</p>
    <div class="col-sm-6 col-sm-offset-3 pt-2">
<form method="post" action="">
{% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input name="email" class="form-control" type="text" size="20" id="email">
    </div>
    <button type="submit" value="resetpwd" class="btn btn-primary mb3">Reset Password</button>
</form>
    </div>
</div>
{% endblock %}