{% extends 'spc/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="p-2">
    <h3>Change your password</h3>
    <div class="col-sm-6 col-sm-offset-3 pt-2">
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Change password">
    </form>
    </div>
    </div>
{% endblock %}