{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}
<div class="p-3">
<h3>Your password was changed successfully.</h3>
    <a href="{% url 'settings' %}" class="btn btn-primary">Got back to settings</a>
</div>
{% endblock %}