{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block content %}

{# display messages #}
{% bootstrap_messages %}

<form method="post" action="{% url 'register' %}">
{% csrf_token %}
    <h2>Registration</h2>
    <div class="col-sm-3 mb-3">
        <label for="first_name" class="form-label">First Name*</label>
        <input name="first_name" class="form-control" type="text" size="20" id="first_name" required>
    </div>
    <div class="col-sm-3 mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input name="last_name" class="form-control" type="text" size="20" id="last_name">
    </div>
    <div class="col-sm-3 mb-3">
        <label for="email" class="form-label">E-Mail*</label>
        <input name="email" class="form-control" type="text" size="20" id="email" required>
    </div>
    <div class="col-sm-3 mb-3">
        <label for="username" class="form-label">Username*</label>
        <input name="username" class="form-control" type="text" size="20" id="username" required>
    </div>
    <div class="col-sm-3 mb-3">
        <label for="password" class="form-label">Password*</label>
        <input name="password" class="form-control" type="password" size="20" id="password" required>
    </div>
    <div class="col-sm-3 mb-3">
        <label for="confirm_password" class="form-label">Confirm Password*</label>
        <input name="confirm_password" class="form-control" type="password" size="20" id="confirm_password" required>
        <span id="pw_message_error" class="form-control-err-msg">
            Passwords do not match!
        </span>
        <span id="pw_message_success" class="form-control-success-msg">
            Passwords match!
        </span>
    </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
          <label class="form-check-label" for="flexCheckDefault">
            By checking this box I agree to SmartUni's <a href="{% url 'data-privacy' %}">Privacy Policy</a>
          </label>
        </div>
    <button type="submit" value="register" class="btn btn-primary mb3">Register Now</button>
 <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
