:root {
  --primary: #334b7b;
  --secondary: #f57f00;
  --text: #000000;
  --secondary-light: #febe80;
  --primary-light: #5a76ae;
  --background-grey: #f2f2f2;
  --searchbar-grey: #aba8a5;
  --sidebar-grey: #d3d1d0;
  --success: #27ae60;
  --warning: #e2b93b;
  --error: #eb5757;
  --white: #ffffff;
  --font: "Roboto", Verdana, sans-serif;
}

body {
  background-color: var(--sidebar-grey);
  font-size: 0.875rem;
  font-family: var(--font);
}

.text-wrapper {
  background-color: var(--background-grey);
  color: var(--text);
  padding: 30px 40px;
}

.content-wrapper {
  background-color: var(--primary);
  color: var(--white);
  max-width: 800px;
  margin: 10px auto;
  padding: 20px 0;
}

.center {
  text-align: center;
}

.bottom {
  padding-top: 20px;
}

/* Headings*/

h1 {
  font-size: 355%;
  line-height: 61.2px;
}

h2 {
  font-size: 305%;
  line-height: 52.8px;
}

h3 {
  font-size: 255%;
  line-height: 44px;
}

h4 {
  font-size: 205%;
  line-height: 35.2px;
}

h5 {
  font-size: 155%;
  line-height: 26.4px;
}
/* Text styles */

p,
.medium-text {
  font-size: 120%;
  line-height: 25.2px;
}

.large-text {
  font-size: 140%;
  line-height: 28px;
}

a.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
  text-decoration: none;
  padding: 12px;
  border-radius: 10%;
  font-size: 125%;
  text-align: center;
}
