/* ------ set variables -------- */
:root {
    --inputbox-height: 53px;

    --spacing: 5px;
    --double-spacing: calc(2 * var(--spacing));

    /* using calculation and percentage instead of a fixed value makes the popup scalable */
    --inputbox-width: calc((100% - var(--double-spacing)) / 3);
    --title-inputbox-width: calc(var(--inputbox-width) * 2 + var(--spacing));
    --category-inputbox-width: calc(100% - var(--title-inputbox-width) - var(--inputbox-height) - var(--double-spacing));
    --description-inputbox-width: 55%;
    --column-inputboxes-width: calc(100% - var(--spacing) - var(--description-inputbox-width));
    --duration-inputbox-width: 80px;
    --deadline-inputbox-width: calc(100% - var(--spacing) - var(--duration-inputbox-width));
    --priority-inputbox-width: calc(100% - 80px);

    --duration-inputbox-height: calc(var(--inputbox-height) * 2 + var(--spacing));

    --outer-border-radius: 12px;
    --inner-border-radius: 6px;

    --inputtext-fontweight: normal;
    --imputtext-fontsize: 20px;

    --calendarmonth-fontsize: 16px;
    --calendarday-fontsize: 14px;
    --calenderitem-fontsize: 12px;

    --calendar-day-size: 40px;

    --detail-view-button-row-width: 104px;
    --detail-view-heading-width: calc(100% - var(--detail-view-button-row-width));
    --detail-button-size: 32px;

    --input-recurrence-freq-width: 72px;
    --input-recurrence-type-width: 124px;
    --input-recurrence-end-width: calc(100% - var(--input-recurrence-freq-width) -
    var(--input-recurrence-type-width) - 39px - 3 * var(--double-spacing));

}

/* --------- General formatting ---------- */

.vertical-centered {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.centered-spaced-alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* same as centered-spaced-alignment but changes with different screen size*/
.inline-to-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaced-alignment {
    display: flex;
    justify-content: space-between;
}

.spacing {
    margin: var(--spacing);
}

.spacing-top {
    margin-top: var(--spacing);
}

.double-spacing-top {
    margin-top: var(--double-spacing);
}

.line-break {
    overflow-wrap: break-word; /* use this for a line break within a word */
}

.clickable {
    pointer-events: none;
}

.clickable.active {
    pointer-events: auto;
}

.disable-text-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.double-padding {
    padding: var(--double-spacing);
}

.display-none {
    display: none;
}

/*-------- Popup -------*/

.overlay {
    position: fixed;
    opacity: 1;
    z-index: 9999; /* needs to be less than the popups z-index but more than every other */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-grey);
    border-radius: var(--outer-border-radius);
    z-index: 10000; /*popup shows up over the other stuff*/
    width: 80%;
    max-width: 960px;
    padding: var(--double-spacing);
}

/* general styling for the input fields */
/* corresponds to shape and color of the background and positioning of the items in it*/
/* is not the input field itself */
.input {
    background-color: var(--white);
    padding-left: var(--double-spacing);
    padding-right: var(--double-spacing);
}

.input-height {
    height: var(--inputbox-height);
}

/* special styling for specific input fields */
/* width of the task input columns */
.task-input-column-width {
    width: var(--column-inputboxes-width);
}

.deadline-input-column-width {
    width: var(--deadline-inputbox-width);
}

/* styling of the input field labels */
.input-labels {
    font-size: var(--imputtext-fontsize);
}

.task-input-labels {
    margin-bottom: 0;
    font-size: var(--imputtext-fontsize);
}

/* styling of all the elements in both of the lower rows in the event popup */
.event-input-elements {
    width: var(--inputbox-width);
}

/* styling for the different fields in the upper row */
.input-category {
    width: var(--category-inputbox-width);
    font-size: var(--imputtext-fontsize);
}

.input-close-button {
    padding: 0;
    border-top-right-radius: var(--inner-border-radius);
    width: var(--inputbox-height);
}

.input-title {
    background-color: var(--secondary-light);
    border-top-left-radius: var(--inner-border-radius);
    width: var(--title-inputbox-width);
}

/*.active works similar as disabled but is available for all objects not only such as buttons*/
.input-title.active {
    background-color: var(--secondary);
}

.input-description {
    width: var(--description-inputbox-width);
    height: 250px;
    padding-bottom: var(--spacing);
    padding-top: var(--spacing);
}

.input-priority {
    width: var(--priority-inputbox-width);
    height: var(--inputbox-height);
}

.input-duration {
    background-color: var(--white);
    width: var(--duration-inputbox-width);
    height: var(--duration-inputbox-height);
}

/*base formatting for all widget classes*/
.widget-inputs {
    border: none;
    font-size: var(--imputtext-fontsize);
    background-color: transparent;
}

/* special cases for specific widget classes*/

/* same formatting for date and time fields*/
.widget-time-fields {
    text-align: center;
    color: var(--searchbar-grey);
    cursor: text;
}

.widget-time-fields.active {
    color: var(--text);
}

/* same formatting for location and comment field */
.widget-text-fields {
    text-align: left;
    width: 85%;
}

.widget-category {
    width: 100%;
}

.widget-title {
    color: var(--white);
    font-weight: bold;
    width: 100%;
}

.widget-title::placeholder {
    color: var(--white);
}

.widget-duration {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    cursor: text;
}

.widget-description {
    width: 100%;
    height: 100%;
}

.widget-color {
    width: 25px;
    height: 25px;
    padding: 0 !important;
}

.widget-recurrence-checkbox {
    width: 23px;
    height: 23px;
    margin: var(--spacing) var(--double-spacing) var(--spacing) 0;
    filter: saturate(0) brightness(1.5);
}

/* icon color */
.popup-icons {
    color: var(--searchbar-grey);
}

.popup-icons.active {
    color: var(--text);
}

/* location icon positioning */
.popup-location-icon {
    padding-right: 5px;
}

/* general button styling */
.button {
    background-color: transparent;
    border: none;
}

/* special styling for specific buttons */
/* align toggle icons with title */
.toggle-button {
    padding-right: 0;
    padding-left: 0;
    margin-left: -5px;
    margin-right: -5px;
}

.toggle-button:disabled {
    color: var(--searchbar-grey);
}

.close-button {
    margin: auto;
}

/* Button to submit/save event */
.submit-button {
    /* color settings */
    background-color: var(--secondary);
    border: none;
    color: var(--white);

    /* icon position */
    margin: auto;

    /* shape */
    border-radius: 50%; /* round */
    height: var(--inputbox-height);
    width: var(--inputbox-height);

    /* position  */
    position: absolute; /* fixed position within the popup */
    bottom: var(--spacing);
    right: var(--spacing);
}

.submit-button:disabled {
    background-color: var(--secondary-light);
}

/* change feather icon */
.submit-icon {
    stroke-width: 3;
}

/* special styling cases for input widgets */
:focus {
    outline: none;
    background-color: transparent;
}

::placeholder {
    color: var(--searchbar-grey);
    font-weight: var(--inputtext-fontweight);
}


/* to remove calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* breakpoint for smaller screen size*/
/* switches the properties */
/* needs to be in the bottom of all classes that are inside */
@media screen and (max-width: 768px) {
    .popup {
        min-width: 267px;
        max-width: 320px;
    }

    .event-input-elements, .input-category, .input-title, .input-close-button {
        width: 100%;
        margin-bottom: var(--spacing);
    }

    .input-title {
        border-top-right-radius: var(--inner-border-radius);
    }

    .input-close-button {
        border-top-right-radius: 0;
    }

    /* align location icon with toggle icons */
    .popup-location-icon {
        padding-right: 0;
        margin-right: -5px;
    }

    .inline-to-block {
        display: block;
    }

    .input-description {
        width: 100%;
    }

    .task-input-column-width {
        width: 100%;
        margin-bottom: var(--spacing);
    }
}


/*------- Add Buttons -------*/
.add {
    position: absolute;
    width: 120px;
    height: 170px;
    z-index: 98;
    pointer-events: none;
    right: 20px;
    bottom: 20px;
}

.add .add-button {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: var(--secondary);
    border-radius: 50px;
    width: 64px;
    height: 64px;
    margin-left: 50px;
    pointer-events: auto;
}

.add .add-button .add-button-icon {
    margin: auto;
    color: var(--white);
}

.feather-icon-50 {
    height: 50px;
    width: 50px;
    stroke-width: 3;
}

.add .add-task-or-event {
    margin: var(--spacing);
    transform: scale(0);
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: right;
    align-items: center;
    pointer-events: auto;
}

.add .add-task-or-event.active {
    transform: scale(1);
}

.add .add-task-or-event .add-task-or-event-button {
    background-color: var(--sidebar-grey);
    cursor: pointer;
    border: none;
    border-radius: var(--inner-border-radius);
    width: 38px;
    height: 38px;
    margin-right: calc(var(--double-spacing) + var(--spacing));
    margin-left: var(--double-spacing);
    align-items: center;
}

.add-task-button-icon {
    background-image: url("../images/clipboard.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.add-event-button-icon {
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------ Datepicker ----------------- */

/* set size of datepicker */
/* no height for the datepicker since there are months with more rows */
.ui-datepicker {
    width: 300px !important;
    /* Use !important only if this is really needed.
     Otherwise if we want to overwrite it in a different position it will be a cascade of importants
     and it is hard to tell which style is actually used.
     This can also cause unnecessary repetition of code. */
    border-radius: var(--inner-border-radius);
}

/* overwrite default header settings */
.ui-widget-header {
    border: none !important;
    background: var(--white) !important;
}

/* set header text */
.ui-datepicker-title {
    font-family: var(--font);
    font-weight: var(--inputtext-fontweight);
    font-size: var(--calendarmonth-fontsize);
}

/* positioning of the toggle buttons */
.ui-datepicker-prev, .ui-datepicker-next {
    top: 4px !important;
}

/* positioning of the icon in the toggle button */
.ui-datepicker-prev span, .ui-datepicker-next span {
    width: 24px;
    height: 24px;
    background-position: left;
    margin-left: -11px !important;
    margin-top: -12px !important;
}

/* toggle icons */
.ui-datepicker-prev span {
    background-image: url("../images/chevron-left.svg") !important;
}

.ui-datepicker-next span {
    background-image: url("../images/chevron-right.svg") !important;
}

/* set spacing between cells */
.ui-datepicker tr {
    display: inline-block;
    border-collapse: separate;
}

/* set week days and calendar dates */
/* we don't want to style th and td directly because this can effect other styles that depend on the table tags */
.ui-datepicker th, .ui-datepicker td {
    font-family: var(--font);
    font-weight: var(--inputtext-fontweight) !important;
    font-size: var(--calendarday-fontsize);
    width: var(--calendar-day-size);
    height: var(--calendar-day-size);
    padding: 0 !important;
}

.ui-datepicker th {
    background-color: var(--sidebar-grey);
    border-radius: var(--inner-border-radius);
}

/* styling of the date fields */
.ui-datepicker-calendar .ui-state-default {
    padding: var(--double-spacing);
    border-radius: var(--inner-border-radius);
    border: none !important;
    background: var(--background-grey);
    text-align: center;
}

/* hovering effect */
.ui-datepicker-calendar .ui-state-hover {
    background: var(--secondary-light) !important;
}

/* highlight today */
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    color: var(--secondary) !important;
    background-color: var(--background-grey) !important;
}

/* highlight selected date */
.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}

/* --------------- Event and task detail overview ------------- */
.detail-view-heading {
    font-size: var(--imputtext-fontsize);
    font-weight: bold;
    width: var(--detail-view-heading-width);
}

.detail-view-button-row {
    right: 14px;
    width: var(--detail-view-button-row-width);
    margin-top: -5px;
}

.detail-view-button {
    color: var(--text);
    background-color: transparent;
    border: none;
    border-radius: var(--inner-border-radius);
    text-align: center;
    height: var(--detail-button-size);
    width: var(--detail-button-size);
    line-height: var(--detail-button-size);
}

.detail-view-button:hover {
    color: var(--text);
    /* primary color in the rest of the popup might change to category
    color so no color change in the hovering effect to not have too much colors */
    background-color: var(--sidebar-grey);
}

.detail-info-icons {
    color: var(--primary);
    margin-right: var(--double-spacing);
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-align: center;
}

.deadline-width {
    width: var(--detail-view-heading-width);
}

.priority-button {
    border: none;
    background: var(--sidebar-grey);
    border-radius: var(--inner-border-radius);
    height: var(--detail-button-size);
    width: var(--detail-button-size);
    text-align: center;
    font-size: var(--imputtext-fontsize);
    color: var(--white);
    padding: 0;
    cursor: default !important;
}

.priority-button.active {
    background: var(--primary);
}

.priority-button-row-daily-list {
    right: 14px;
    width: 96px;
    margin-top: var(--spacing);
}

.priority-button-daily-list {
    height: 28px !important;
    width: 28px !important;
}

/* ------------ Warning popup ----------------- */
.warning-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-grey);
    border-radius: var(--outer-border-radius);
    z-index: 9999; /* lower than the popup because otherwise mouse actions are blocked */
    min-width: 220px; /* with that we don't need a specification for smaller screens */
    opacity: 0;
    padding: 15px;
    text-align: center;
}

.warning-popup.active {
    opacity: 1;
    z-index: 20000;
}

/* warning popup buttons */
.warning-popup-buttons {
    padding: 5px;
    border-radius: var(--inner-border-radius);
    font-size: 18px;
    font-weight: var(--inputtext-fontweight);
    border: none;
    color: white;
}

.red-button-warning-popup {
    float: right;
    background-color: var(--error);
    margin-right: 10px;
}

.orange-button-warning-popup {
    float: right;
    background-color: var(--secondary);
    margin-right: 10px;
}

.gray-button-warning-popup {
    float: left;
    background-color: var(--searchbar-grey);
    margin-left: var(--double-spacing);
}

/* warning popup text */
.first-par-warning-popup {
    margin-bottom: var(--spacing);
    font-size: var(--imputtext-fontsize);
}

.second-par-warning-popup {
    color: var(--searchbar-grey);
    margin-bottom: 20px;
    font-size: var(--imputtext-fontsize);
}

.delete-svg {
    background-image: url("../images/delete-circle.svg");
    width: 80px;
    height: 80px;
    margin: calc(var(--double-spacing) * 2) auto;
}

/* ------------ Calendar ----------------- */
/* CALENDAR BUTTONS */
/* Calendar overview buttons -> !important since have to overwrite all original styling */
.fc-button {
    border: none !important;
    background-color: var(--sidebar-grey) !important;
    color: black !important;
}

/* Toggle buttons for week and day views */
.fc-toggle2Week-button, .fc-toggle2Day-button {
    background-color: transparent !important;
    color: var(--sidebar-grey) !important;
    border-radius: 0 !important;
    border-bottom: var(--spacing) solid var(--sidebar-grey) !important;
    width: 50px !important;
}

/* Highlight the active views button (week or day)*/
.fc-toggle2Week-button:disabled, .fc-toggle2Day-button:disabled {
    color: black !important;
    opacity: 1 !important;
    border-bottom-color: var(--secondary) !important;
}

.fc-toggle2Previous-button, .fc-toggle2Next-button {
    width: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

.fc-toggle2Previous-button {
    background-image: url("../images/chevron-left.svg") !important;
}

.fc-toggle2Next-button {
    background-image: url("../images/chevron-right.svg") !important;
}

/* Overwrite the focus effect from default calendar stylesheet */
:focus {
    box-shadow: none !important;
}

/* CALENDAR VIEW */

/* Border Radius of the Calendar */
.fc .fc-view-harness {
    border-top: var(--double-spacing) solid var(--sidebar-grey);
    border-bottom: var(--double-spacing) solid var(--sidebar-grey);
    border-radius: var(--inner-border-radius);
}


.events-daily-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
}

.daily-appointments-container {
    width: 100%;
    overflow: hidden;
}

.all-single-events {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.fc-daily-calendar .slider {
    background-color: var(--searchbar-grey);
    margin-left: 3px;
    margin-right: 3px;
    width: 4px;
}

.fc-daily-calendar .slider:hover {
    cursor: e-resize;
}

/* In the daily view, there is a split between calendar and daily event overview */
.fc-daily-calendar {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.daily-appointments-buttons {
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--imputtext-fontsize);
    vertical-align: middle;
    line-height: 45px;
}

.detail-list-icons {
    margin-right: var(--spacing);
    border: none;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    color: var(--primary);
}

.down-icon {
    background-image: url("../images/chevron-down.svg") !important;
}

.up-icon {
    background-image: url("../images/chevron-up.svg") !important;
}

.edit-button {
    background-image: url("../images/edit-2.svg") !important;
}

.delete-button {
    background-image: url("../images/trash-2.svg") !important;
}

.clock-icon {
    background-image: url("../images/clock.svg") !important;
}

.location-icon {
    background-image: url("../images/map-pin.svg") !important;
}

.comment-icon {
    background-image: url("../images/message-square.svg") !important;
}

.deadline-icon {
    background-image: url("../images/check-square.svg") !important;
}

.daily-appointments-inner-block {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    line-height: 45px;
}

.fc-daily-calendar .fc-view-harness {
    min-width: 0;
    flex-grow: 1;
    width: 60%;
}

.fc-scrollgrid {
    position: absolute;
    border-style: none !important; /* No border around the full calendar */
}

.events-daily {
    background-color: var(--sidebar-grey);
    border-radius: var(--inner-border-radius);
}

.events-daily p {
    font-size: 100%;
    text-align: center;
    margin-top: var(--double-spacing);
}

.events-daily-single-appointments {
    background-color: var(--background-grey);
    border: var(--spacing) solid var(--background-grey);
    margin: var(--double-spacing);
    border-radius: var(--inner-border-radius);
    padding-left: var(--inputtext-fontweight);
    margin-top: 0;
    overflow: hidden;
}

/* table/calendar header */
.fc th {
    height: 40px;
    border: hidden;
    vertical-align: top; /* Because border is already 10px */
}

.fc-header-toolbar {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
}

/* height of the rows and slots in the calendar */
.fc .fc-timegrid-slot {
    height: 2.5em;
}

/* text header calendar */
.fc a {
    color: var(--text);
    text-decoration: none;
}

/* highlight current day */
.fc-day-today .fc-col-header-cell-cushion {
    color: var(--secondary);
}

/* set weekend background color */
.fc-weekend-day {
    background-color: #eaeaea !important; /* important is set to overwrite today if needed */
}

/* set weekday background color */
.fc-week-day {
    background-color: var(--background-grey) !important; /* important is set to overwrite today if needed */
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
    box-shadow: none;
}

/* Event display */
.fc-timegrid-event .fc-event-main {
    font-size: var(--calenderitem-fontsize);
    overflow: hidden; /* If text is too long, hide overflow */
    padding: var(--spacing) !important; /* Overwrite default padding */
}

.fc-timegrid-event.task {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: var(--spacing);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%), 0 3px 8px 0 rgb(0 0 0 / 10%);
}

/* Event display upon hovering */
.fc-event-main:hover {
    cursor: pointer;
}

/* Set color of current time indicator */
.fc .fc-timegrid-now-indicator-line, .fc .fc-timegrid-now-indicator-arrow {
    border-color: var(--secondary);
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* Calendar header styling */
.fc .fc-col-header-cell-cushion {
    font-weight: normal; /* Overwrite bold style for the column headers in calendar */
    line-height: 16px;
    pointer-events: none; /* Remove hovering effect for header */
}

/* remove table lines in border */
.fc-theme-standard td, .fc-theme-standard th:not(:last-child) {
    border: 1px solid var(--sidebar-grey);
}

/* design for small events */
.smallEvent > .fc-event-main {
    padding-top: 0 !important;
}

/* SCROLLBAR */
/* entire scrollable surface (calendar) */
.fc-scroller {
    overflow-y: auto !important; /* Add scrollbar only if it is necessary */
    background-color: var(--sidebar-grey);
}

/* scrollbar basics (width and color) */
::-webkit-scrollbar {
    background-color: var(--sidebar-grey);
    width: var(--double-spacing);
}

/* track that has the scroll item/ handle */
::-webkit-scrollbar-track {
    background: var(--sidebar-grey);
    border-radius: var(--outer-border-radius);
}

/* the item/handle to scroll with (drag and drop)  */
::-webkit-scrollbar-thumb {
    background: var(--searchbar-grey);
    border-radius: var(--outer-border-radius);
}

/* item/handle should become darker during hovering */
::-webkit-scrollbar-thumb:hover {
    background: #878787;
}

/* ------------- CATEGORY STYLING ---------------- */

.filter-tag {
    border: none;
    border-radius: var(--spacing);
    padding-left: var(--spacing);
}

.filter-tag-btn {
    margin-left: var(--spacing);
}

/* filter icon */
.fc-filterCategory-button {
    background-image: url("../images/filter.svg") !important;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
}

#id_input-filter {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

#id_filter-field {
    background-color: var(--white);
    margin: var(--spacing) !important;
    width: 100px;
    height: 22px;
    display: inherit;
    font-size: 11px;
}

.filter-wrapper {
    background-color: var(--sidebar-grey);
    display: inline-block;
    border-radius: 3px;
    justify-content: space-between;
}

.category-color-box {
    height: 20px;
    width: 20px;
    margin: auto 0 auto auto;
}

/* --------------- AUTOCOMPLETE --------------- */
.autocomplete {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    font-size: inherit;
}

.autocomplete-items div {
    padding: var(--spacing) var(--double-spacing);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--background-grey);
    display: flex;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--background-grey);
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: var(--white);
}


/*-------- Sidebar -------*/

/* Create a sidebar from top to bottom in the window on the right side of the screen*/
.calendar-overview-sidenav {
    bottom: 0;
    right: 0;
    width: 20vw;
    z-index: 1; /* stays at the top of the screen*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: var(--sidebar-grey);
    position: fixed;
    top: 48px;
    display: grid; /* Can be used for overlapping content */
}

/* the formatting of the main body besides the open sidebar*/
.main-smartplanner {
    padding: var(--double-spacing) 0;
}

.sidenav-content {
    display: block;
    margin-top: var(--double-spacing);
    grid-column-start: 1; /* Set to the same grid position for every item that should overlap */
    grid-row-start: 1;
}

.toggle-sidebar-button {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
    background-position: center;
    margin-left: var(--spacing);
    margin-top: var(--double-spacing);
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
}

.toggle-sidebar-button-open {
    background-image: url('../images/clipboard-blue-small.svg');
    transform: scale(1.5);
}

.toggle-sidebar-button-close {
    background-image: url('../images/chevron-right-blue.svg');
}


/* formatting of the sidebar header */
.sidenav-header {
    font: var(--font);
    font-size: 18px;
    text-align: center;
    padding-bottom: var(--double-spacing);
}

.accordion {
    background-color: inherit;
    padding: 0 var(--double-spacing);
    margin: 0;
    position: relative;
}

/* formatting of buttons */
.background-accordion {
    font-size: 10px;
    background-color: #C4C4C4;
    border-radius: var(--inner-border-radius);
    padding: var(--spacing);
    margin: 18px 0 var(--spacing) 0;
    width: 100%;
}

.accordion-button {
    font: inherit;
    font-size: var(--calenderitem-fontsize);
    color: white !important;
    position: relative;
    left: -5px;
    top: -25px;
    background-color: var(--primary) !important;
    width: fit-content;
    height: 20px;
    border-radius: var(--inner-border-radius);
    padding: var(--spacing);
    margin: var(--double-spacing) 0 -20px 0;

}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: var(--primary) !important;
}

/* remove the predefined toggling icon */
.accordion-button::after {
    width: 16px;
    height: 16px;
    margin: 0 -3px;
    background-color: inherit;
    background-size: 100%;
    background-image: url("../images/chevron-down-white.svg"); /* if !important here the arrow gets stuck */
}

/* this is to access the default toggling icons */
.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button.collapsed::after {
    background-image: none;
}

/* this is to replace the default toggling icons */
.accordion-button.collapsed::after {
    background-image: url("../images/chevron-down-white.svg");

}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/chevron-up-white.svg");
    transform: unset;
}

.list-group-item-task {
    font-size: var(--calenderitem-fontsize);
    background-color: var(--white);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%), 0 3px 8px 0 rgb(0 0 0 / 10%);
    list-style-type: none;
    padding: var(--double-spacing);
    border-radius: var(--inner-border-radius);
    margin: var(--spacing) !important;
    cursor: move;
    overflow: hidden;
}

.list-group-item-task a {
    text-decoration: none;
}

/* horizontal line */
hr:not([size]) {
    color: var(--primary);
    display: flex;
    position: sticky;
    text-align: center;
    height: 2px;
    border: 0;
    margin: var(--spacing) 0;
    padding: 0;
    opacity: 1;
    border-radius: var(--inner-border-radius);
}

.list-group-item-task hr, .popup hr, .events-daily-single-appointments hr {
    height: 3px !important;
}

.sidenav-content hr {
    margin: var(--double-spacing);
}

/*check box*/
.form-check-input:checked[type=checkbox] {
    background-image: none;
}

.form-check-input {
    color: var(--primary);
    background-color: var(--white) !important;
    border-color: var(--primary);
}

.form-check-input[type=checkbox] {
    border-color: var(--primary);
    background-color: var(--white) !important;
    position: revert !important;
    border-radius: 50%;
}

.form-check-input:checked[type=checkbox] {
    background-image: url('../images/check-blue.svg') !important;
    border-color: var(--primary);
    background-color: var(--white) !important;
}

/* popup no tasks */
.notasks-popup {
    background-color: #B3B6BF !important;
    margin: var(--double-spacing) auto 0 auto;
    width: 90%;
    height: auto;
    border-radius: var(--inner-border-radius);
    border-width: var(--double-spacing);
    padding: var(--spacing);
    overflow: auto;
}

.notasks-svg {
    content: url("../images/clipboard-blue.svg");
    width: 60px;
    height: 60px;
    margin: var(--spacing) auto;
}

.first-par-notask-popup {
    margin: 0;
    font-size: var(--calenderitem-fontsize);
    text-align: center;
    line-height: 1.2;
    color: var(--white);
}

.second-par-notask-popup {
    margin: 2px;
    font-size: var(--calenderitem-fontsize);
    text-align: center;
    line-height: 1.5;
    color: var(--white);
}

.button-row-no-task-popup {
    justify-content: center;
    display: flex;
}

.notask-popup-buttons {
    padding: 3px;
    border-radius: var(--inner-border-radius);
    font-size: var(--calenderitem-fontsize);
    font-weight: var(--inputtext-fontweight);
    border: none;
    color: var(--white);
    background-color: var(--primary);
    width: 60px;
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

@media screen and (max-width: 540px) {

    .slider {
        display: none;
    }

    .events-daily-wrapper {
        display: none;
    }
}

/* Smart Planner settings */
.smart-planning-settings {
    width: 40% !important;
    min-width: 500px;
    max-width: 600px;
}

.widget-weekday[type="checkbox"]:not(:checked),
.widget-weekday[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"] + label {
    display: inline-block;
    padding: var(--spacing);
    cursor: pointer;
    color: var(--white);
    background-color: var(--sidebar-grey);
    border-radius: var(--spacing);
    width: calc((100% - (6 * 4px)) / 7);
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
}

input[type="checkbox"]:checked + label {
    color: var(--white);
    background-color: var(--primary);
}

.smart-step {
    vertical-align: top;
    display: flex;
    align-items: center;
    align-content: center;
}

.smart-step-num {
    width: 56px;
    height: 100%;
    line-height: 56px;
    background-color: var(--sidebar-grey);
    color: var(--white);
    text-align: center;
    border-radius: var(--spacing);
    font-size: 28px;
    margin: var(--double-spacing);
}

.smart-step-description {
    margin-bottom: 0;
}

.smart-header, .smart-explanation {
    margin-bottom: var(--double-spacing);
}

.smart-header {
    text-align: center;
}

.smart-explanation {
    padding: var(--spacing);
    border-radius: var(--spacing);
    text-align: justify;
    hyphens: auto;
}

.smart-explanation-button {
    border: none;
    height: 18px;
    width: 20px;
    float: left;
    background-color: transparent;
    margin-right: var(--spacing);
    background-size: 18px;
    background-repeat: no-repeat;
}

.smart-explanation:hover {
    background-color: var(--sidebar-grey);
    cursor: pointer;
}

#hr-smart-settings {
    height: 1px !important;
    color: var(--sidebar-grey) !important;
}

.smart-header {
    color: var(--white);
    background-color: var(--primary);
    height: 56px;
    font-size: 28px;
    line-height: 56px;
    overflow: hidden;
    border-radius: var(--spacing);
}

.save-and-redirect {
    background-color: var(--primary);
    border-radius: var(--spacing);
    padding: var(--spacing);
    height: auto;
    width: auto;
    text-align: center;
    position: initial;
}

.save-and-redirect:disabled {
    background-color: var(--primary-light);
}

.smart-go-back {
    border-radius: var(--spacing);
    color: var(--white);
    background-color: var(--sidebar-grey);
    padding: var(--spacing);
    border: none;
}

.widget-smart-settings {
    font-size: 12pt;
    border-radius: var(--spacing);
    display: inline-block;
}

.input.smart-settings-input {
    padding-top: calc(var(--spacing) / 2);
    padding-bottom: calc(var(--spacing) / 2);
    border-radius: var(--spacing);
    /*display: inline-block;*/
    width: calc((60% - 2px) / 2);
    min-width: 130px;
    display: inline-flex;
}

.smart-settings-button {
    height: 12pt;
    width: 12pt;
}

.smart-planning-buttons {
    margin-top: 20px;
    position: absolute;
    right: var(--double-spacing);
    bottom: var(--double-spacing);
}

.smart-task-list {
    height: calc(3 * var(--inputbox-height) - var(--spacing));
    background-color: var(--sidebar-grey);
    border-radius: var(--spacing);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.smart-task-button {
    background-color: var(--white);
    border: none;
    border-radius: var(--spacing);
    width: 95%;
    margin: var(--spacing) var(--double-spacing) 0 var(--double-spacing);
    text-align: left;
    overflow: hidden;
    padding: var(--double-spacing);
    line-height: inherit;
}

.smart-planning-settings-table {
    margin-bottom: 40px;
}

.smart-step-block {
    padding: 20px !important;
    margin-top: 40px !important;
}

.last-item {
    margin-top: var(--double-spacing);
}

.smart-text-info-block {
    padding: 20px !important;
    margin-top: 40px !important;
}

.smart-info-icon {
    color: var(--background-grey);
    background-color: var(--searchbar-grey);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
}

.smart-info-icon:hover {
    background-color: var(--primary);
}

.smart-info-icon-secondary {
    color: var(--white);
    background-color: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
}

.smart-info-icon-secondary:hover {
    color: var(--primary);
}

.no-smart-tasks {
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--spacing);
    padding: var(--double-spacing);
    margin: var(--double-spacing);
    width: fit-content;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: var(--primary);
    color: var(--white);
    text-align: justify;
    hyphens: auto;
    padding: var(--double-spacing);
    border-radius: var(--spacing);
    font-style: normal;
    border: none;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 9000;

    margin-left: var(--spacing);
}

.required {
    width: 160px;
}

.tooltip-bottom {
    width: calc(100% - var(--spacing) - var(--double-spacing));
    left: var(--spacing);
    right: var(--double-spacing);
    margin-top: 27px;
}

/* Tooltip arrow */
.tooltip-initiator .tooltiptext::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    margin-left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--primary) transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-initiator:hover .tooltiptext {
    visibility: visible;
}

/* Tooltip arrow top */
.tooltip-initiator-bottom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 40px);
    margin-top: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--primary) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-initiator-bottom-tooltip:hover .tooltiptext {
    visibility: visible;
}

.save-and-redirect:disabled {
    background-color: var(--primary);
    opacity: .6;
}

/* Smart-Planning leftover tasks popup*/
.smart-open-task-main {
    margin-bottom: 40px;
}

.smart-open-task-item {
    background-color: var(--white);
    border: none;
    border-radius: var(--spacing);
    width: calc(100% - var(--spacing) - 8px);
    margin: var(--spacing);
    text-align: left;
    overflow: hidden;
    padding: var(--spacing);
}

.smart-open-task-item-inner-block {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
}

.smart-open-task-input {
    float: left;
    vertical-align: middle;
    width: 100%;
    margin: var(--spacing);
}

.smart-open-task-input-button-menu {
    float: right;
}

.smart-open-task-button {
    border: none;
    float: right;
    background-color: var(--primary);
    background-size: 18px;
    background-repeat: no-repeat;
}

.smart-open-task-icon-button {
    border: none;
    height: 18px;
    width: 20px;
    float: right;
    background-color: transparent;
    background-size: 18px;
    background-repeat: no-repeat;
}

.smart-open-task-icon {
    border: none;
    height: 18px;
    width: 20px;
    float: left;
    background-color: transparent;
    color: var(--primary);
    margin-left: var(--spacing);
    background-size: 18px;
    background-repeat: no-repeat;
}

.leftover-tasks {
    height: auto;
    max-height: calc(2 * var(--inputbox-height) - var(--spacing));
}

.leftover-tasks-description {
    margin: var(--spacing);
}


/*Formatting of the ai component in the create task pop-up*/

.input-ai_scheduler {
    width: var(--inputbox-height);
}

/*check box*/

.widget-ai_scheduler[type=checkbox] {
    margin: auto;
    width: 23px;
    height: 23px;
    filter: saturate(0) brightness(1.5);
}

/****** Recurring Events *******/
.recurrence {
    display: block;
}

.input-recurring-weekdays {
    width: 75%;
    font-size: 14px;
}

.recurrence input[type="checkbox"]:checked + label {
    color: var(--white);
    background-color: var(--secondary);
}

.recurrence input[type="checkbox"]:hover + label {
    color: var(--white);
    background-color: var(--secondary-light);
}

.input-recurrence {
    text-align: center;
    border: 1px solid var(--sidebar-grey);
    border-radius: var(--inner-border-radius);
    height: 35px;
}

.input-recurrence-type {
    width: var(--input-recurrence-type-width);
}

.input-recurrence-freq {
    width: var(--input-recurrence-freq-width);
}

.input-recurrence-end {
    width: var(--input-recurrence-end-width);
    margin-right: 3px;
}

.input-recurrence-true {
    font-size: 16px;
    padding: unset;
}

.widget-recurrence-freq {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: var(--inputbox-width) var(--inputbox-width) var(--inputbox-width);
    grid-gap: var(--spacing);
}

.grid-element {
    width: auto;
}

.form-comment {
    grid-row: span 2;
    height: 100%;
    padding-top: var(--spacing);
}

.form-comment textarea {
    height: 95%;
}

.recurrence-wrapper {
    grid-column: 1/span 2;
    background-color: var(--white);
}

.event-delete-multiple {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: var(--spacing);
    padding: var(--double-spacing);
    margin: var(--double-spacing) auto;
    width: 80%;
    display: flex;
}

.badge {
    font-weight: normal;
}

.recurrence-input-column-width {
    width: 78%;
}