
.main {
    height: inherit;
    padding-right: var(--nav-border-width);
    overflow-y: auto;
}

.h2 {
    margin-right: 280px;
!important;
}


.slider-result {
    position: relative;
    bottom: 25px;
    left: 5px;
    z-index: -1;
}

.sidebar-right {
    z-index: 1;
    right: 0;
    height: 100%;
    position: fixed;
    background-color: #cdd0d9;
    display: block;
    transition: width 0.2s;
    flex-shrink: 0;
}

.nav-icon {
    float: left;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.nav-label {
    float: left;
    padding: 3px;
}

.nav-link {
    display: flex !important;
}

.nav-link-curr {
    background-color: var(--secondary-light) !important;
}

.nav-label:hover {
    color: #727272;
}

.sidebar-right--collapsed {
    width: 60px;
}

.sidebar-right--collapsed .nav-label {
    display: none !important;
}

@media (max-width: 1027px) {
    .questions-mobile {
        flex-direction: column;
        align-content: center;
        height: fit-content;
    }
}

.display-bar {
    visibility: hidden;
}

.hide-bar {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -0%);
    visibility: hidden;
    z-index: 2;
}

@media (max-width: 768px) {
    .sidebar-right {
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        cursor: pointer;
        bottom: 0;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .touch-area {
        width: 100%;
        height: 200px;
        position: fixed;
        bottom: 0;
        z-index: 1;
    }

    .display-bar {
        width: 50px;
        visibility: visible;
    }

    .button-touch {
        position: sticky;
        z-index: 2;
    }

    .nav-label {
        display: none !important;
    }
}


.container {
    height: 100%;
    background-color: #B3B6BF;
}

.contain-text {
    margin-right: 280px; /* Same as the width of the sidenav */
    font-size: 28px;
}

.sidebar-right-heading {
    padding: 15px 5px;
}

.sidebar-right-content {
    color: #333333;
}

.sidebar-right .nav-link {
    font-weight: 500;
    color: #333;
}


.alert-success {
    color: var(--success); /*#0f5132;*/
    background-color: #d1e7dd;
    border-color: #badbcc;
    width: 50%;
    margin-top: 20px;
}


.slider::after {
    content: '100';
    color: black;
    font-size: 1rem;
    position: relative;
    right: 30px;
    top: 10px;
}

.slider::before {
    content: '0';
    color: black;
    font-size: 1rem;
    position: relative;
    left: 12px;
    top: 10px;
}

.question_text {
    font-size: 20px;
}

.question_description {
    font-size: 20px;
    margin-right: 60px; /* Same as the width of the sidenav */
}

.collapsible-any {
    color: #6f7880;
}

.collapsible-any:hover {
    color: var(--secondary-light);
    cursor: pointer;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 75%;
    text-align: left;
    outline: #334B7B;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    border-color: var(--primary);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.sbm-active, .collapsible:hover {
    background-color: var(--secondary-light); /*was #FEBE80 previously     */
    cursor: pointer;
}

/* Style the collapsible content. Note: hidden by default */
.collapsed-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--background-grey); /* was f1f1f1 previously */
    width: 75%;
}

.icon {
    float: left;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.learning-style {
    padding: 5px;
    width: 80%;
}

.learner-type {
    font-weight: 700;
    font-size: 15px;
}

.learner-description {
    font-weight: 400;
    font-size: 15px;
    margin-left: 95px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.auto-complete-result-0 {
    font-size: 14px !important;

}

.autocomplete {
    padding-bottom: 25px;
    border-radius: 5px;
}

.grade_field {
    padding-bottom: 10px;
}

#id_course_grade {
    color: var(--searchbar-grey) !important;
    border-color: var(--searchbar-grey) !important;
    padding: 0.75rem 1rem !important;
    font-size: 0.85rem !important;
    display: block !important;
    width: 30% !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #cde4da;
    appearance: none !important;
    border-radius: 0.25rem !important;


}

.button_submission {
    padding-bottom: 50px !important;
}

.text_course_description {
    padding-top: 10px;
    font-size: 20px;
}

#id_course_title {
    color: var(--searchbar-grey) !important;
    border-color: var(--searchbar-grey) !important;
    padding: 0.75rem 1rem !important;
    font-size: 0.85rem !important;
    display: block !important;
    width: 100% !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #cde4da;
    appearance: none !important;
    border-radius: 0.25rem !important;

}

ul.autocomplete-result-list {
    z-index: 9 !important;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    pointer-events: none;
    top: 100%;
}

#id_course {
    color: var(--searchbar-grey) !important;
    border-color: var(--searchbar-grey) !important;
    padding: 0.75rem 1rem !important;
    font-size: 0.85rem !important;
    display: block !important;
    width: 100% !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: var(--white) !important;
    background-clip: padding-box !important;
    border: 1px solid #cde4da;
    appearance: none !important;
    border-radius: 0.25rem !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-grey);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.element_change_status {
    color: #333 !important;
}

#other {
    color: var(--searchbar-grey) !important;
    border-color: var(--searchbar-grey) !important;
    padding: 0.75rem 1rem !important;
    font-size: 0.85rem !important;
    width: 100% !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: var(--white) !important;
    background-clip: padding-box !important;
    border: 1px solid #cde4da;
    appearance: none !important;
    border-radius: 0.25rem !important;


}

.pin-button {
    cursor: pointer;
}

.make_invisible {
    visibility: hidden !important;
}

.make_visible {
    visibility: visible !important;
}
