{% extends 'spc/base.html' %}
{% load bootstrap5 %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
{% endblock %}




{% block content %}
    <div style="padding-left: 0.7vw;padding-right: 0.7vw;">
    <!--Needs to be revised when the core changes the main tag in base.html  -->
    {# display messages #}
        {% bootstrap_messages %}
        {% block sbm_content %}

        {% endblock %}
    </div>
{% endblock %}

{% block rightbar %}
    <div class="touch-area">
    <div class="nav sidebar-right">
    <div class="nav-border"></div>
        <div class="clearfix">
            <a class="nav-link" style="float: right;">
                <div class="nav-icon text-center">
                    <span class="bi bi-chevron-double-right" style="height: 24px; width: 24px;" class="clearfix" title="Toggle sidebar"></span>
                </div>
                <!-- <span class="nav-label" data-feather="sbm">My Questionnaires</span>-->
            </a>
        </div><!-- questionnaires title -->
        <style>
            hr {
                margin-top: 0em;
            }
        </style>
        <hr/>
        <!-- <br/> -->
        <div class="clearfix">
                    <a class="nav-link" href="{% url 'sbm_pai' %}" style="float: left;" id="nav_pai">
                    <div class="nav-icon">
                        <img src="/static/sbm/images/graduation-cap.png" style="height: 24px; width: 24px;" class="clearfix" alt="personal academic interests" title="Personal Academic Interests"/>
                    </div>
                        <span class="nav-label" data-feather="sbm">Personal Academic Interests</span>
                    </a>
                    <br>
        </div> <!--pai-->
        <br/>
        <div class="clearfix">
                    <a class="nav-link" href="{% url 'sbm_wtc' %}" style="float: left;" id="nav_wtc">
                    <div class="nav-icon">
                        <img src="/static/sbm/images/communication.png" style="height: 24px; width: 24px;" class="clearfix" alt="willingness to communicate" title="Willingness to Communicate"/>
                    </div>
                    <span class="nav-label" data-feather="sbm">Willingness to Communicate</span>
                    </a>
        </div> <!--wtc-->
        <br/>
        <div class="clearfix">
                    <a class="nav-link" href="{% url 'sbm_ls' %}" style="float: left;" id="nav_ls">
                    <div class="nav-icon">
                        <img src="/static/sbm/images/book.png" style="height: 24px; width: 24px;" class="clearfix" alt="learning styles" title="Learning Styles"/>
                    </div>
                        <span class="nav-label" data-feather="sbm">Learning Styles</span>
                    </a>
        </div> <!--ls-->
        <br/>
        <div class="clearfix">
                <a class="nav-link" href="{% url 'sbm_course_submission' %}" style="float: left;" id="nav_course">
                <div class="nav-icon">
                    <img src="/static/sbm/images/test.png" style="height: 24px; width: 24px;" class="clearfix"
                         alt="courses and grades" title="{{ name_course_submission }}"/>
                </div>
                <span class="nav-label" data-feather="sbm">{{ name_course_submission }}</span>
            </a>
        </div><!--courses and grades-->
        <br/>
        <div class="clearfix">
            <a class="nav-link" href="{% url 'sbm_pp' %}" style="float: left;" id="nav_pp">
                <div class="nav-icon">
                    <img src="/static/sbm/images/friendship.png" style="height: 24px; width: 24px;" class="clearfix"
                         alt="partner preferences" title="Partner Preferences"/>
                </div>
                <span class="nav-label" data-feather="sbm">Partner Preferences</span>
            </a>
        </div><!--pp-->
        <br/>

        <div class="clearfix">
            <a class="nav-link" href="{% url 'sbm_matching' %}" style="float: left; visibility:hidden" id="nav_match" >
                <div class="nav-icon">
                    <img src="/static/sbm/images/matching-page-icon2.png" style="height: 24px; width: 24px;"
                         class="clearfix" alt="matching page" title="Matching Page"/>
                </div>
                <span class="nav-label" data-feather="sbm">Matching Page</span>
            </a>
            <br>
        </div>

        </div> <!-- the whole sidebar-->
    </div>
    <button type="button" class="btn fixed-bottom bottom-0 start-50 translate-middle-x display-bar"><span
            class="bi bi-chevron-double-up"></span></button>
    <button type="button" class="btn hide-bar"><span class="bi bi-chevron-double-down"></span></button>
    <script type="text/javascript" src="{% static "sbm/js/collapsible-sidebar.js" %}"></script>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "sbm/js/collapsible.js" %}"></script>
{% endblock %}
