{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %}Courses and Grades | StudyBuddyMatch · SmartUni{% endblock %}
{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">
{% endblock %}

{% block sbm_content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">StudyBuddyMatch: Your courses and grades</h1>
    </div>


    <div class="question_text">

        <form method="POST">
            {% csrf_token %}


            <div class="question_description text-justify">
            {{help_text_course}}
            </div>
            <br/>
            <div id="autocomplete" class="autocomplete">
                {{ form.course_title }}
                <ul class="autocomplete-result-list"></ul>

            </div>
            <div class="text_course_description">
            {{help_text_grade}}
            </div>
            <br/>

            <div class="grade_field">
            {{ form.course_grade }}
            </div>
            <br/>

            <div class="button_submission">
                <button type="submit" class="btn btn-secondary button-touch" id="submit-id-submit"
                        title="Add this course to the list">
                    Add
                </button>
                <a class="btn btn-primary" title="Finish and go to the next questionnaire" id="next-b-course-s" href={% url 'sbm_pp' %}>
                    Next ►
                </a>
            </div>
        </form>
    </div>

        <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
        <script src="{% static 'sbm/js/autocorrect.js' %}"></script>

        <script>  autocorrection('search_courses/?course=', '#autocomplete'); </script>

         <script type="text/javascript" src="{% static "sbm/js/collapsible.js" %}"></script>
            <button type="button" class="collapsible my-4" style="color:#334B7B; position: sticky; z-index: 2">My courses</button>
                <div class="collapsed-content" id="collapsible_el">
                 <table class="table table-striped table-responsive">
                        <tr><th>Course</th><th>Grade</th></tr>
                        {% for course_title, course_grade, enrollment_id in present_data %}
                            <tr>
                                <td>{{ course_title }}</td>
                                <td>{{ course_grade|default_if_none:"Not shared" }}</td>
                                <td>
                                    <a style="position: sticky; z-index: 2" href="{% url 'sbm_delete_course_enrollment' enrollment_id %}"
                                       class="btn btn-outline-danger btn-sm">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


<div class="row pb-5"></div>

<script>
    window.onload=function(){
        document.getElementById('nav_course').classList.add('nav-link-curr');
        if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
            document.getElementById('nav_pp').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
            document.getElementById('nav_pai').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
            document.getElementById('nav_wtc').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
            document.getElementById('nav_ls').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_match').classList.contains('nav-link-curr')){
            document.getElementById('nav_match').classList.remove('nav-link-curr');
        }
        if ("{{usm}}" != "unready"){
            document.getElementById('nav_match').classList.add('make_visible');
        }
        else{
          
            document.getElementById('nav_match').classList.add('make_invisible');
        }

        var table = document.getElementById("collapsible_el");
        table.style.display="block";
    };
</script>
{% endblock %}
