{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
{% endblock %}

{% block sbm_content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">StudyBuddyMatch: Your courses and grades</h1>
    </div>

    <div class="question_description">
        <h5>{{ course.title }}</h5>
        <form method="POST">
            {% csrf_token %}

            {% crispy form %}
        </form>
        <a class="btn btn-secondary button-touch" href={% url 'sbm_course_submission' %}>No thanks</a>
        <script type="text/javascript" src="{% static "sbm/js/collapsible.js" %}"></script>
    </div>
{% endblock %}
