{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %}Match not Found | StudyBuddyMatch · SmartUni{% endblock %}
{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
{% endblock %}

{% block sbm_content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">Unfortunately...</h1>
  <img src="{% static "sbm/images/no_matches_found.png" %}" alt="sad_icon" width="120" style="margin-left: auto;display: block;"/>
</div>
    <p style="margin-right: auto;display: block; text-align: justify;">… no matches were found for you at this time. A couple of preferences limit the space we can search for a match. If you adjust the preferences for the following items, we can search again in a bigger pool.</br></br> You can remove the preference that your buddy has to come from the same institute or that your buddy had to complete a certain course or both.</br></br> <b>You have the following options to try again:</b> </p>


   

   

    <form action="{% url 'perform_matching' %}" method="post">
        {% csrf_token %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_inst"name="inst_filter" />
            <label class="form-check-label" for="check_inst">Remove institute filter</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check_course"name="course_filter" />
            <label class="form-check-label" for="check_course">Remove course filter </label>
          </div>
        </br>
        <input class="btn btn-primary" type="submit" value="Match again" > 
        
        
    </form>


    <script>
      window.onload=function(){
        document.getElementById('nav_match').classList.add('nav-link-curr');
        if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
            document.getElementById('nav_pp').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
            document.getElementById('nav_pai').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
            document.getElementById('nav_wtc').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
            document.getElementById('nav_ls').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
            document.getElementById('nav_course').classList.remove('nav-link-curr');
        }
        if ("{{usm}}" != "unready"){
            document.getElementById('nav_match').classList.add('make_visible');
        }
        else{
          
            document.getElementById('nav_match').classList.add('make_invisible');
        } 
    };
      
  </script>

{% endblock %}