{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}

{% block sbm_content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">StudyBuddyMatch: Questionnaire not defined</h1>
    </div>

    <p>
    This questionnaire has not been defined yet.
    </p>
    <a class="btn btn-secondary" href={% url 'sbm_pai' %}>Start!</a>
{% endblock %}
