{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}

{% block title %}StudyBuddyMatch | SmartUni{% endblock %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link sbm-active" href="pai.html">Personal Interests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="questionnaire_not_defined.html">Other Questionnaires</a>
    </li>
</ul>

{% block sbm_content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">StudyBuddyMatch</h1>
    </div>

    <div class="d-inline-flex flex-column align-items-center" style="width: 100%;">
        <div class="col-md">
            <div class="card text-center">
                <div class="card-header">
                    <h1> Welcome
                        <i>{{ request.user.first_name }} {{ request.user.last_name }}</i></h1>
                </div>

                <div class="card-body">


                    <p class="card-text">
                        We have designed the StudyBuddyMatch service to help you find a partner to
                        study and prepare for exams with.
                        <br/> <br>
                        To this end, we have formulated a few questions that need to be filled out by everyone who wants to find a study buddy.
                        These questions will help us match you with someone with whom you might have a good
                        studying experience.
                        <br/> <br>
                        As you can see in the right sidebar, we will ask you about your personal academic interests, your communication and
                        learning styles, your course history, and your personal preferences for a study buddy. In the personal preferences section,
                        you can indicate what factors are especially relevant to you in selecting a suitable study buddy.
                        <br/> <br>
                        We will also collect some  <a
                            href="{% url 'settings' %}">personal information</a> about you so your prospective study buddy can get to know you.
                        <br/> <br>
                        To begin, simply click on the "Start" button below and begin filling in your information.
                        <br/> <br>
                        Happy studying!


                    </p>


                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" id="start-id-submit" style="align: center;" href={% url 'sbm_pai' %}>Start!</a>
                </div>

            </div>

            <br><br>

            <br><br>

        </div>
    </div>

{% endblock %}