{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% block title %}Matching | StudyBuddyMatch · SmartUni{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
{% endblock %}

{% block sbm_content %}


{{matchingstatus}}


    <div class="d-flex justify-content-center flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <div class="col-md-12">
            <div class="card-body" style="margin-left: 24px">
                <div class=" card-title">
                    <h1 class="h2"> Find a Study Buddy!</h1>
                </div>


                <a class="collapsible-any" data-bs-toggle="collapse" href="#collMatchingExplanation" role="button"
                   aria-expanded="false"
                   aria-controls="collMatchingExplanation">
                    Explanation
                </a>


                <div class="card-text collapse" id="collMatchingExplanation">
                    The data you provided in the questionnaire is used by us to find for every user the best possible
                    study partner.


                </div>
            </div>
        </div>
        <div class="col-md-2">


            <a class="btn btn-primary" type="button" href={% url 'perform_matching' %}
                    title='{{ 'Calculate match recommendations! (Sets your matching status to "active".)' }}'>
                {{button_text}}
            </a>
        </div>
        <br>
    </div>

    <p>Here you can change your user status</p>


    <div class="dropdown">
        <button onclick="show_options()" class="btn btn-secondary dropdown-toggle" id="toogle_button">Current
            Status: {{ usm }} </button>
        
        <a href="{% url 'change_status' 'passive' %}" id="passive" class="dropdown-item" style="display:none">passive </br> &#x2022;
            <em>don't </em> get recommendations </br> &#x2022; get recommened to others</a>
        <a href="{% url 'change_status' 'inactive' %}" id="inactive" class="dropdown-item" style="display:none">inactive </br> &#x2022; <em>
            don't </em> get recommendations </br> &#x2022; <em> don't </em> get recommened to others</a>


    </div>


    <div class="container-fluid">
        <div class="row">
            {% for match in matches %}
                <div class="col-md" >
                    <div class="card" style="width: 27rem; margin-top: 24px ">
                        <img src="{{ match.pic.url }}" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title"> {{ match.first_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" style="font-size: 1.25em"> Similarity: {{ match.score_percent }}</h6>
                            <a class="icon pin-button" id="{{ match.username }}/{{ match.pinned }}" onclick="get_pin_status(this.id)" title="Save the match for later.">
                                {% if match.pinned %}
                                    <img id="{{ match.username }}/{{ match.pinned }}img" src="/static/sbm/images/icons-pin.png">
                                {% else %}
                                    <img id="{{ match.username }}/{{ match.pinned }}img" src="/static/sbm/images/icons-pin-gray.png">
                                {% endif %}
                            </a>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ match.progs_and_insts }}</li>
                                <li class="list-group-item">{{ match.email }}</li>

                            </ul>
                            <a href="mailto:{{ match.email }}" class="btn btn-primary" style="margin-top: 6px;">Write me
                                a
                                mail!</a>
                            <a href="/buddy/{{ match.pk }}" class="btn btn-primary" style="margin-top: 6px;">
                                Visit my profile!
                            </a>


                            </br>
                            </br>
                            <div>
                                Please rate this match&nbsp;&nbsp;(5 = good, 1 = bad) </br>
                            </div>
                            <div>
                                <label>
                                    {% if match.feedback == 1 %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}1" onclick="get_rating(this.id);" checked>
                                    {% else %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}1" onclick="get_rating(this.id);">
                                    {% endif %}
                                    1
                                </label>
                                <label>
                                    {% if match.feedback == 2 %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}2" onclick="get_rating(this.id);" checked>
                                    {% else %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}2" onclick="get_rating(this.id);">
                                    {% endif %}
                                    2
                                </label>
                                <label>
                                    {% if match.feedback == 3 %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}3" onclick="get_rating(this.id);" checked>
                                    {% else %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}3" onclick="get_rating(this.id);">
                                    {% endif %}
                                    3
                                </label>
                                <label>
                                    {% if match.feedback == 4 %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}4" onclick="get_rating(this.id);" checked>
                                    {% else %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}4" onclick="get_rating(this.id);">
                                    {% endif %}
                                    4
                                </label>
                                <label>
                                    {% if match.feedback == 5 %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}5" onclick="get_rating(this.id);" checked>
                                    {% else %}
                                        <input type="radio" name="{{ match.username }}rating" id="{{ match.username }}5" onclick="get_rating(this.id);">
                                    {% endif %}
                                    5
                                </label>
                            </br>
                             <p style="font-size: 12px;"> <em> Your feedback is anonymous and will help improving our algorithms. </em></p>

                            </div>
                        </div>
                    </div>
                </div>
           
            {% endfor %}
        </div>
    </div>




    <script>
        

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function show_options() {

            if (document.getElementById("passive").style.display == "none") {

                document.getElementById("passive").style.display = "block";
                document.getElementById("inactive").style.display = "block";
            }
            else {
                document.getElementById("passive").style.display = "none";
                document.getElementById("inactive").style.display = "none";

            }
        }

        // Close the dropdown if the user clicks outside of it
        window.addEventListener("click", function(event) {
            if (!event.target.matches('.dropdown-toggle')) {
               
                document.getElementById("passive").style.display = "none";
                document.getElementById("inactive").style.display = "none";
            }
        });
    </script>



    <script>
        function get_rating(element) {

            $.ajax({
                type: 'GET',
                url: "{% url 'create_feedback' %}",
                data: {'element': element}
            });
        }
    </script>

    <script>
        function get_pin_status(pin_info) {
            let user_pinned = pin_info.split("/")
            $.ajax({
                type: 'GET',
                url: "{% url 'pin_match' %}",
                data: {'username': user_pinned[0], 'pinned': user_pinned[1]},
                success: function() {
                    reloadimg(pin_info)
                }
            })
        }
    </script>

    <script>
    function reloadimg(elementID){
        imageObject = document.getElementById(elementID+"img")
        var current_src = document.getElementById(elementID+"img").src
        if ( current_src.indexOf('gray') >= 0) {
            imageObject.src = "{% static '/sbm/images/icons-pin.png' %}" ;
        }
        else imageObject.src = "{% static '/sbm/images/icons-pin-gray.png' %}";
    }
    </script>

    

    <script>
        window.onload=function(){
            document.getElementById('nav_match').classList.add('nav-link-curr');
            if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
                document.getElementById('nav_pp').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
                document.getElementById('nav_pai').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
                document.getElementById('nav_wtc').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
                document.getElementById('nav_ls').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
                document.getElementById('nav_course').classList.remove('nav-link-curr');
            }
            if ("{{usm}}" != "unready"){
                document.getElementById('nav_match').classList.add('make_visible');
            }
            else{
              
                document.getElementById('nav_match').classList.add('make_invisible');
            } 
        };
    </script>

  

{% endblock %}
