
{% extends 'sbm/base_sbm.html' %}
{% load crispy_forms_filters %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Partner Preferences | StudyBuddyMatch · SmartUni{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">
    <script src="{% static "sbm/js/pp_ques.js" %}"></script>

{% endblock %}

{% block sbm_content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">StudyBuddyMatch: Partner preferences</h1>
</div>

<div class="">

{{description}}

</div>

<br><br>

<div class="question_text">

    <form method="POST">
        {% csrf_token %}

        <div>
            <p class="question_description text-justify">
            {{ question_2.question_text }}
                <br/>

            </p>
            {{form.partner|as_crispy_field}}
            <script>hide_option()</script>
        </div>

        <div class="text_course_description">
            {{help_text_institute}}
            </div>

        <div id="autocomplete2" class="autocomplete">
            {{ form.institute|as_crispy_field }}
            <ul class="autocomplete-result-list"></ul>
        </div>

        <div class="text_course_description">
        {{help_text_course}}
        </div>

        <div id="autocomplete" class="autocomplete">
            {{ form.course|as_crispy_field }}
            <ul class="autocomplete-result-list"></ul>
        </div>

        {% if usm == 'unready' %}
        {% if pai_completed and wtc_completed and ls_completed %}
            <button type="submit" onclick="return confirmation()" class="btn btn-primary button-touch" name="submit" id="next-pp">Next ► </button>
        {% else %}
            <button type="submit" onclick="return reminder()" class="btn btn-primary button-touch" id="next-pp">Next ►</button>
        {% endif %}
        {% else %}
            <button type="submit" name="submit" class="btn btn-primary button-touch" id="next-pp">Next ►</button>

        {% endif %}

    <br>
    <br>
        {% if qa_exist %}
            <button type="submit" class="btn btn-outline-danger btn-sm" name='delete' id="submit-id-submit">Delete</button>
        {% endif %}


    </form>

    <script>
        function confirmation() {
            var status='passive';

            $.ajax({
                type: 'GET',
                url: "{% url 'change_status' 'passive' %}",
                data: {"status":status,
                        "make_ready":true},
                    
                
            });

            
        }
        function reminder() {
            alert("You have unsubmitted answers! Please make sure you answer all the questions needed and save them " +
                "before entering the study buddy pool.")
        }

    </script>
</div>

    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script src="{% static 'sbm/js/autocorrect.js' %}"></script>
        
    <script>  autocorrection('search_courses/?course=', '#autocomplete'); </script>
    <script>  autocorrection('search_institutes/?institute=', '#autocomplete2'); </script>

  

    <script>
        var checkbox0=document.getElementById("id_partner_0");
        var checkbox1=document.getElementById("id_partner_1");
        var checkbox2=document.getElementById("id_partner_2");
        var checkbox3=document.getElementById("id_partner_3");

        checkbox0.addEventListener("click",hide_option);
        checkbox1.addEventListener("click",hide_option);
        checkbox2.addEventListener("click",hide_option);
        checkbox3.addEventListener("click", hide_option);

    </script>


    <br>
    <script>
        window.onload=function(){
            document.getElementById('nav_pp').classList.add('nav-link-curr');
            if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
                document.getElementById('nav_course').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
                document.getElementById('nav_pai').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
                document.getElementById('nav_wtc').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
                document.getElementById('nav_ls').classList.remove('nav-link-curr');
            }
            if (document.getElementById('nav_match').classList.contains('nav-link-curr')){
                document.getElementById('nav_match').classList.remove('nav-link-curr');
            }

            if ("{{usm}}" != "unready"){
                document.getElementById('nav_match').classList.add('make_visible');
                document.getElementById('nav_match').style.display="block";
            }
            else{

                document.getElementById('nav_match').classList.add('make_invisible');
            }

        };
    </script>


<div class="row pb-5"></div>
{%endblock%}



