{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}


{#{% block title %}Personal Academic Interests | StudyBuddyMatch · SmartUni{% if question.title == 'Personal interest' %} {% elif question.title != 'Personal interest'  %}Learning Styles | StudyBuddyMatch · SmartUni{% endif %} {% endblock %}#}

{% block title %}
{% if question.title == 'Personal interest' %}
    Personal Academic Interests | StudyBuddyMatch · SmartUni
{% else %}
    Learning Styles | StudyBuddyMatch · SmartUni
{% endif %}
{% endblock %}




Learning Styles | StudyBuddyMatch · SmartUni



{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
{% endblock %}

{% block sbm_content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">StudyBuddyMatch: {{ question.questionnaire.title }}</h1>
    </div>

{% comment %} TODO: add submit button {% endcomment %}



    <div class="question_text">
        <form method="POST">
            <div class="form-group">
                {% csrf_token %}

                <p class="question_description text-justify">
                    {% if question.title == 'Personal interest' %}
                    Please enter your personal academic interests below (in English!):
                    {% endif %}
                    {% if title == 'Learning Styles' %}
                    {{ question.question_text }}
                    {% endif %}
                </p>

                {% if question.title != 'Personal interest' %}



                    <button type="button" class="collapsible" style="color:#334B7B"> ⓘ What are learning styles?</button>

                    <div class="collapsed-content" style="display: none;">
                        {{ question.questionnaire.description | safe }}
                    </div>
                {% endif %}

                <div class="w-75">
                    <br/>
                    {% crispy form %}
                </div>
                
                {% if question.title != 'Personal interest' %}
                    {% if pai_completed and pp_completed and wtc_completed and usm == 'unready' %}
                        <button type="submit" name="submit" onclick="return confirmation()" class="btn btn-primary button-touch">Next ► </button>
                    {% else %}
                        <button type="submit" name="submit" class="btn btn-primary button-touch">Next ►</button>
                    {% endif %} 
                {% endif %}
                
                {% if question.title == 'Personal interest' %}
                    {% if ls_completed and pp_completed and wtc_completed and usm == 'unready' %}
                        <button type="submit" name="submit" onclick="return confirmation()" class="btn btn-primary button-touch">Next ► </button>
                    {% else %}
                        <button type="submit" name="submit" class="btn btn-primary button-touch">Next ►</button>
                    {% endif %} 
                {% endif %}


            </div>
        </form>
        </br>
    </div>
    {% if answer %}
    {% if question.title == 'Personal interest' %}
        <a href="{% url 'sbm_delete_answers_text' question.id %}" class="btn btn-outline-danger btn-sm" id="delete-pai">Delete</a>
    {% endif %}
    {% if title == 'Learning Styles' %}
        <a href="{% url 'sbm_delete_answers_ls' question.id %}" class="btn btn-outline-danger btn-sm" id="delete-pai">Delete</a>
    {% endif %}
    {% endif %}


        </form>
    <script>
        function confirmation() {
            var status='passive';
    
            $.ajax({
                type: 'GET',
                url: "{% url 'change_status' 'passive' %}",
                data: {"status":status,
                        "make_ready":true},
                        
                    
            });
                
                
            
        };
    </script>
    <script>
        window.onload=function(){

          
             
            if ("{{question.title}}" == 'Personal interest'){
                document.getElementById('nav_pai').classList.add('nav-link-curr');
                if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
                    document.getElementById('nav_course').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
                    document.getElementById('nav_pp').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
                    document.getElementById('nav_wtc').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
                    document.getElementById('nav_ls').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_match').classList.contains('nav-link-curr')){
                    document.getElementById('nav_match').classList.remove('nav-link-curr');
                }
            }
            else{
                document.getElementById('nav_ls').classList.add('nav-link-curr');
                if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
                    document.getElementById('nav_course').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
                    document.getElementById('nav_pai').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_wtc').classList.contains('nav-link-curr')){
                    document.getElementById('nav_wtc').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
                    document.getElementById('nav_pp').classList.remove('nav-link-curr');
                }
                if (document.getElementById('nav_match').classList.contains('nav-link-curr')){
                    document.getElementById('nav_match').classList.remove('nav-link-curr');
                }
            }

            if ("{{usm}}" != "unready"){
                document.getElementById('nav_match').classList.add('make_visible');
            }
            else{
              
                document.getElementById('nav_match').classList.add('make_invisible');
            }   
            
            

            
        };
    </script>
{% endblock %}
