{% extends 'sbm/base_sbm.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Willingness to Communicate | StudyBuddyMatch · SmartUni{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'sbm/css/base_sbm.css' %}">
    <script src={% static 'sbm/js/wtc.js' %}></script>
    <script src={% static 'sbm/js/enteringMatchingPhase.js' %}></script>
  
{% endblock %}


{% block sbm_content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">StudyBuddyMatch: Willingness To Communicate</h1>
</div>

<div class="question_description text-justify">

{{description}}

</div>

<br></br>
<form method="post">
    {% csrf_token %}


{% if result %}

{% for questions, answers in zip_list %}


    <div class="questions-mobile d-flex flex-wrap mt-3 align-items-center justify-content-between">
        <div class="question_text" >
                    {{questions}}
        </div>
    
    <div>

    <div class="slider">
        <input type="range" min="0" max="100" value={{answers}} id="{{questions}}"  name="{{questions}}">
    </div>
                           
        <div></div>

    <p id="{{questions}}_value" align="right" class="slider-result">{{answers}}</p>
    
</div>
</div>
       
{% endfor %}
{% else %}

{% for question_sin in questions_sin %}


    <div class="questions-mobile d-flex flex-wrap mt-md-4 mt-sm-5 align-items-center justify-content-between">
      <div class="question_text">
                {{question_sin}}
            </div>
    <div >
        <div class="slider">
           <input type="range" min="0" max="100" value="50" id="{{question_sin}}"  name="{{question_sin}}">

            </div>
            <p id="{{question_sin}}_value" align="right" class="slider-result">50</p>
    </div>

    </div>

{% endfor %}
{% endif %}
    
    
   <p> </p>
    <p> </p>
    <div class="row pb-5" ></div>

    {% if pai_completed and pp_completed and ls_completed and usm == 'unready' %}
        <button type="submit" name="submit" onclick="return confirmation()" class="btn btn-primary button-touch">Next ► </button>
    {% else %}
        <button type="submit" name="submit" class="btn btn-primary button-touch">Next ►</button>
    {% endif %}
</br>
</br>

    {% if result %}
    <button class="btn btn-outline-danger btn-sm button-touch" style="float: left;" name='delete'>Delete</button>
    {% endif %}

    <br></br>

</form>

<script>
    function confirmation() {
        var status='passive';

        $.ajax({
            type: 'GET',
            url: "{% url 'change_status' 'passive' %}",
            data: {"status":status,
                    "make_ready":true},


        });


        
    };

</script>




<div class="row pb-5"></div>

<script>

    const slider1=document.getElementById("Talk with a service station attendant");
    slider1.addEventListener("click", function(){
        display_value(slider1.id);
    });
    const slider2=document.getElementById("Talk to a physician");
    slider2.addEventListener("click", function(){
        display_value(slider2.id);
    });
    const slider3=document.getElementById("Present a talk to a group of strangers");
    slider3.addEventListener("click", function(){
        display_value(slider3.id);
    });
    const slider4=document.getElementById("Talk with an acquaintance while standing in line");
    slider4.addEventListener("click", function(){
        display_value(slider4.id);
    });
    const slider5=document.getElementById("Talk with a salesperson in a store");
    slider5.addEventListener("click", function(){
        display_value(slider5.id);
    });
    const slider6=document.getElementById("Talk in a large meeting of friends");
    slider6.addEventListener("click", function(){
        display_value(slider6.id);
    });
    const slider7=document.getElementById("Talk with a police officer");
    slider7.addEventListener("click", function(){
        display_value(slider7.id);
    });
    const slider8=document.getElementById("Talk in a small group of strangers");
    slider8.addEventListener("click", function(){
        display_value(slider8.id);
    });
    const slider9=document.getElementById("Talk with a friend while standing in line");
    slider9.addEventListener("click", function(){
        display_value(slider9.id);
    });
    const slider10=document.getElementById("Talk with a waiter/waitress in a restaurant");
    slider10.addEventListener("click", function(){
        display_value(slider10.id);
    });
    const slider11=document.getElementById("Talk in a large meeting of acquaintances");
    slider11.addEventListener("click", function(){
        display_value(slider11.id);
    });
    const slider12=document.getElementById("Talk with a stranger while standing in line");
    slider12.addEventListener("click", function(){
        display_value(slider12.id);
    });
    const slider13=document.getElementById("Talk with a secretary");
    slider13.addEventListener("click", function(){
        display_value(slider13.id);
    });
    const slider14=document.getElementById("Present a talk to a group of friends");
    slider14.addEventListener("click", function(){
        display_value(slider14.id);
    });
    const slider15=document.getElementById("Talk in a small group of acquaintances");
    slider15.addEventListener("click", function(){
        display_value(slider15.id);
    });
    const slider16=document.getElementById("Talk with a garbage collector");
    slider16.addEventListener("click", function(){
        display_value(slider16.id);
    });
    const slider17=document.getElementById("Talk in a large meeting of strangers");
    slider17.addEventListener("click", function(){
        display_value(slider17.id);
    });
    const slider18=document.getElementById("Talk with a spouse (or girl/boyfriend)");
    slider18.addEventListener("click", function(){
        display_value(slider18.id);
    });
    const slider19=document.getElementById("Talk in a small group of friends");
    slider19.addEventListener("click", function(){
        display_value(slider19.id);
    });
    const slider20=document.getElementById("Present a talk to a group of acquaintances");
    slider20.addEventListener("click", function(){
        display_value(slider20.id);
    });

        

    
     
</script>

<script>
    window.onload=function(){
        document.getElementById('nav_wtc').classList.add('nav-link-curr');
        if (document.getElementById('nav_course').classList.contains('nav-link-curr')){
            document.getElementById('nav_course').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_pai').classList.contains('nav-link-curr')){
            document.getElementById('nav_pai').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_pp').classList.contains('nav-link-curr')){
            document.getElementById('nav_pp').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_ls').classList.contains('nav-link-curr')){
            document.getElementById('nav_ls').classList.remove('nav-link-curr');
        }
        if (document.getElementById('nav_match').classList.contains('nav-link-curr')){
            document.getElementById('nav_match').classList.remove('nav-link-curr');
        }
        if ("{{usm}}" != "unready"){
            document.getElementById('nav_match').classList.add('make_visible');
        }
        else{

            document.getElementById('nav_match').classList.add('make_invisible');
        }
    };
</script>

{%endblock%}



{% comment %} sliderContainer[i].addEventListener('click', display_value(sliderContainer[i].prop("id"))); {% endcomment %}

